# Module 1 Project

Please fill out:
* Student name: Jennifer Wadkins
* Student pace: self paced
* Scheduled project review date/time: 
* Instructor name: Jeff Herman
* Blog post URL:



Questions I have:
    * Do I need to justify not using provided data, or can I just go straight for my own?
    * Am I allowed to make some assumptions/framing for the case study, ex. set in a pre-covid world?

## Project Overview

## Importing our modules

We will be using the following libraries in this project:

pandas, numpy, matplotlib, json, re

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import json
import re
%matplotlib inline

## Other preparation work

Recommended to also install the nbextensions "Table of Contents 2" and "Collapsible Headings" for easier navigation through this notebook.

Gitbhub here: https://github.com/ipython-contrib/jupyter_contrib_nbextensions

# Source 3 - The Movie Database

Time to work with data from a different source. We're using information from TMDB - The Movie Database

## Exploring the Data

In [64]:
# importing the movie database movies data set from file
tmdb = pd.read_csv('zippedData/tmdb.movies.csv')

In [65]:
# taking a look at what we've imported
tmdb.head(10)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
5,5,"[12, 14, 10751]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229
6,6,"[28, 12, 14, 878]",19995,en,Avatar,26.526,2009-12-18,Avatar,7.4,18676
7,7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340
8,8,"[16, 10751, 35]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057
9,9,"[16, 28, 35, 10751, 878]",38055,en,Megamind,22.855,2010-11-04,Megamind,6.8,3635

In [66]:
# what is the shape of our data?
tmdb.shape
# this dataset has 26,517 movie entries. At first glance we are very excited about all of this data!

(26517, 10)

In [67]:
# what kind of data is stored?
tmdb.dtypes
# Most of the data in this set seems to be stored in the correct format already (numbers as numbers, etc)
# we'll change the date to a proper date/time

Unnamed: 0             int64
genre_ids             object
id                     int64
original_language     object
original_title        object
popularity           float64
release_date          object
title                 object
vote_average         float64
vote_count             int64
dtype: object

In [68]:
# do we have any missing/null values?
tmdb.isnull().sum()
# This dataset has no missing values. That doesn't mean there aren't categorical placeholders, and we will look into that further

Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [69]:
tmdb.describe()
# One thing we can see in this dataset is that there are a LOT of movies with 5 or fewer votes. A full 50% of the dataset
# has 5 or fewer votes. The difference between or 75th percentile and the max goes from 28 to 22,000 votes!!
# We will look more into this and figure out the situation.

        Unnamed: 0             id    popularity  vote_average    vote_count
count  26517.00000   26517.000000  26517.000000  26517.000000  26517.000000
mean   13258.00000  295050.153260      3.130912      5.991281    194.224837
std     7654.94288  153661.615648      4.355229      1.852946    960.961095
min        0.00000      27.000000      0.600000      0.000000      1.000000
25%     6629.00000  157851.000000      0.600000      5.000000      2.000000
50%    13258.00000  309581.000000      1.374000      6.000000      5.000000
75%    19887.00000  419542.000000      3.694000      7.000000     28.000000
max    26516.00000  608444.000000     80.773000     10.000000  22186.000000

In [70]:
tmdb['vote_count'].value_counts()
# There are 6541 entries in this dataset with only 1 vote. We're going to look at these entries later and figure out what is
# unusual about them.

1       6541
2       3044
3       1757
4       1347
5        969
        ...
2328       1
6538       1
489        1
2600       1
2049       1
Name: vote_count, Length: 1693, dtype: int64

In [162]:
temp = tmdb.loc[(tmdb['vote_count'] == 1)]
temp.head(30)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
770,770,"[28, 80, 18, 53]",51488,en,Full Love,2.288,2010-01-01,Full Love,10.0,1
873,873,"[878, 27]",27485,en,Megaconda,1.960,2010-01-01,Megaconda,7.0,1
1004,1004,"[12, 80]",76747,ru,Burning Daylight,1.588,2010-11-14,Burning Daylight,6.0,1
1008,1008,"[16, 10751]",52272,en,Bratz: Pampered Petz,1.579,2010-10-05,Bratz: Pampered Petz,5.0,1
1063,1063,"[9648, 53]",295682,en,Bright Falls,1.400,2010-04-27,Bright Falls,9.0,1
1065,1065,[28],548285,en,Tanya X,1.400,2010-09-06,Tanya X,8.0,1
1074,1074,"[99, 18, 36]",112574,en,After Armageddon,1.400,2010-01-06,After Armageddon,7.0,1
1092,1092,[],105436,en,Dad's Home,1.400,2010-01-01,Dad's Home,6.0,1
1114,1114,[99],81583,en,45365,1.400,2010-06-18,45365,5.0,1
1118,1118,"[18, 10749]",46734,en,Eva,1.400,2010-08-01,Eva,5.0,1
1137,1137,[27],454133,xx,The Vampire Attack,1.400,2010-03-02,The Vampire Attack,3.0,1
1140,1140,[18],108330,en,The Cycle,1.400,2010-11-20,The Cycle,2.0,1
1142,1142,[],274037,en,The Company We Keep,1.400,2010-10-15,The Company We Keep,0.5,1
1152,1152,"[18, 10751, 10752]",94677,en,Porcelain Unicorn,1.378,2010-09-20,Porcelain Unicorn,5.0,1
1154,1154,[16],130974,en,A Cloudy Lesson,1.374,2010-04-01,A Cloudy Lesson,10.0,1
1155,1155,[18],70048,en,Friedensschlag - Das Jahr der Entscheidung,1.374,2010-01-01,To Fight For: The Year of Decision,7.0,1
1156,1156,"[35, 10402]",113544,en,Go Go Reject,1.374,2010-01-01,Go Go Reject,6.0,1
1157,1157,"[35, 18, 10402]",63078,en,The Infernal Comedy: Confessions of a Serial K...,1.374,2010-06-08,The Infernal Comedy: Confessions of a Serial K...,6.0,1
1158,1158,[],185200,en,Mad World,1.374,2010-02-02,Mad World,5.0,1
1160,1160,"[18, 35]",117702,en,Bedfellows,1.374,2010-01-01,Bedfellows,1.0,1
1211,1211,"[12, 14, 28, 878, 10751]",34203,en,Justin Time,1.278,2010-01-01,Justin Time,7.0,1
1230,1230,[],371702,en,All That Glitters,1.241,2010-09-25,All That Glitters,10.0,1
1241,1241,[],159410,en,Dirty Dancing 3: Capoeira Nights,1.210,2010-09-28,Dirty Dancing 3: Capoeira Nights,6.0,1
1244,1244,[35],93771,en,Santa Claus Versus the Zombies,1.206,2010-01-01,Santa Claus Versus the Zombies,2.0,1
1270,1270,"[14, 35, 878, 10751]",47160,en,The Story Of F***,1.171,2010-01-01,The Story Of F***,6.0,1
1296,1296,[35],140489,en,The Mother Of Invention,1.124,2010-06-25,The Mother Of Invention,10.0,1
1297,1297,[99],45816,en,Fixer: The Taking of Ajmal Naqshbandi,1.124,2010-03-12,Fixer: The Taking of Ajmal Naqshbandi,8.0,1
1298,1298,[18],85101,is,Brim,1.124,2010-11-20,Undercurrent,6.0,1
1299,1299,"[9648, 53]",57477,en,Twisted Path,1.124,2010-11-01,Twisted Path,5.5,1
1300,1300,"[18, 9648, 53]",102686,en,Truth About Kerry,1.124,2010-10-16,Truth About Kerry,4.0,1

In [172]:
tmdb.duplicated(subset=['title']).sum()

# One of the reasons we might have these single-vote entries is that we have 1829 duplicate entries with the same titles,
# indicating someone entered a duplicate title into the database

1829

In [71]:
tmdb.sort_values('popularity')
# while sorting on popularity, I also notice for the first time that a lot of the genre_ids on this low popularity list are absent

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
13258,13258,[99],403294,en,9/11: Simulations,0.600,2014-07-04,9/11: Simulations,10.0,1
11010,11010,[],203325,en,Slaves Body,0.600,2013-06-25,Slaves Body,0.5,1
11011,11011,[99],186242,en,Re-Emerging: The Jews of Nigeria,0.600,2013-05-17,Re-Emerging: The Jews of Nigeria,0.5,2
11012,11012,[99],116868,en,Occupation: Fighter,0.600,2013-08-02,Occupation: Fighter,0.5,2
11013,11013,[99],85337,en,Wonders Are Many: The Making of Doctor Atomic,0.600,2013-08-07,Wonders Are Many: The Making of Doctor Atomic,0.5,2
...,...,...,...,...,...,...,...,...,...,...
5179,5179,"[878, 28, 12]",24428,en,The Avengers,50.289,2012-05-04,The Avengers,7.6,19673
11020,11020,"[28, 12, 14]",122917,en,The Hobbit: The Battle of the Five Armies,53.783,2014-12-17,The Hobbit: The Battle of the Five Armies,7.3,8392
23812,23812,"[28, 12, 16, 878, 35]",324857,en,Spider-Man: Into the Spider-Verse,60.534,2018-12-14,Spider-Man: Into the Spider-Verse,8.4,4048
11019,11019,"[28, 53]",245891,en,John Wick,78.123,2014-10-24,John Wick,7.2,10081
23811,23811,"[12, 28, 14]",299536,en,Avengers: Infinity War,80.773,2018-04-27,Avengers: Infinity War,8.3,13948

In [72]:
tmdb[(tmdb['vote_count'] > 30)].count()
# we only have 6347 entries in this dataset with more than 30 user votes. I question the quality of this dataset.
# Overall, this might just not be great data, and since we have access to a TMDB API, we will pull better data
# ourselves

Unnamed: 0           6347
genre_ids            6347
id                   6347
original_language    6347
original_title       6347
popularity           6347
release_date         6347
title                6347
vote_average         6347
vote_count           6347
dtype: int64

## Pulling Data from TMDB via API

Instead of taking time to clean up the data set we have, we're going to pull the data that we want to use from TMDB using an API key. 

We're accessing the API documentation for TMDB at https://developers.themoviedb.org/3/getting-started/introduction, after registering for an API key.

We can see some interesting options with the TMDB API that want to add to our data including:
    * Movie genre list to match up with the genre-ids (under Genres)
    * More up-to-date dataset in general, retrieved with some predetermined data refinement critera 
    * A list of the IMDB movie ids, which will be incredibly helpful for us to join this TMDB info with our IMDB info later in the notebook (under Movies -> Get External IDs)

### API Call Parameters

The big workhorse API for TMDB is in "Discover" located at https://developers.themoviedb.org/3/discover/movie-discover

In this section we can get back a data set that can, in some ways, be pre-cleaned. So we are going to determine how we plan to refine/clean our data set right now, and then figure out ways that we can pull data from TMDB that already fits the parameters we want.

Here are the data cleanup steps we are planning for our data set, some of which can be achieved while we grab the data:

    * Drop entries with fewer than 30 votes. Our client is looking for a blockbuster, not a bespoke production.
    * Drop entries with no genre specified. We'll want to use the genre to make recommendations.
    * Drop entries with 1.0 or less popularity, for the same reasons as votes
    * Drop movies older than 2010. This is as far back as our IMDB set goes, and we'd like to match up our data.
    * Make sure we have a clean Index
    
The Discover API lets us pass the following useful parameters to fulfill some of our data refinement goals:
    * primary_release_date.gte lets us include movies that have a primary release date greater or equal than the specified value
    * primary_release_date.lte lets us pass a primary release date lesser than or equal than the specified value. This will keep our scope in 2019 or older for purposes of our case study. We're looking at movie production in a pre-covid world.
    * vote_count.gte lets us filter for movies with a vote count greater than or equal to the specified value
    * with_original_language lets us pull english language films. Our client will be making films in english

This will take care of a few of the things we wanted to clean up in our dataset.
 
We're getting this and other API data in a separate notebook, because we don't want to make these API calls every time we run this notebook! We've pulled the data via the notebook called "tmdb_api_calls" and saved it as a JSON file, and will now import our JSON file here for further processing.

#### !!!!! STOP !!!!! Go to the notebook at tmdb_api_calls.ipynb and run the first section titled "Discover Data Set" now.

## Importing and Processing the Discover Data Set

In [281]:
# opening up our Discover dataset

f = open('api_data/tmdb_movies.json', encoding='utf-8')
discover = json.load(f)

type(discover) # we've loaded our Discover dataset and it's a dictionary

dict

In [282]:
discover.keys() # checking the keys
# we ran our function to paginate in the API and as a result, our keys are each of the 500 calls we made to the api. We'll
# need to go a level lower to hit our data.

dict_keys(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '140', '141', '142', '143', '144', '145', '146', '147', '148', '149', '150', '151', '152', '153', '154', '155', '156', '157', '158', '159', '160', '161', '162', '163', '164', '165', '166', '167', '168', '169', '170', '171', '172', '173', '174', '175', '176', '177', '178', '179', '180', '181', '182', '183', '184', '185', '186', '187', '188', '189', '190', '191', '192', '193', '194', '195', '196', '197', '198', '199', '200', '201', '202', '203', '204', '205', '206', '207', '208', '209', '210', '211', '212', '213', '214', '215', '216', '217', '218', '219', '220', '221', '222', '223', '224', '225', '226', '227', '228', '229', '230', '231', '232', '233', '234', '235', '236', '237', '238', '239', '240', '241', '242', '243', '244', '245', '246', '247', '248', '249', '250', '251', '252', '253', '254', '255', '256', '257', '258', '259', '260', '261', '262', '263', '264', '265', '266', '267', '268', '269', '270', '271', '272', '273', '274', '275', '276', '277', '278', '279', '280', '281', '282', '283', '284', '285', '286', '287', '288', '289', '290', '291', '292', '293', '294', '295', '296', '297', '298', '299', '300', '301', '302', '303', '304', '305', '306', '307', '308', '309', '310', '311', '312', '313', '314', '315', '316', '317', '318', '319', '320', '321', '322', '323', '324', '325', '326', '327', '328', '329', '330', '331', '332', '333', '334', '335', '336', '337', '338', '339', '340', '341', '342', '343', '344', '345', '346', '347', '348', '349', '350', '351', '352', '353', '354', '355', '356', '357', '358', '359', '360', '361', '362', '363', '364', '365', '366', '367', '368', '369', '370', '371', '372', '373', '374', '375', '376', '377', '378', '379', '380', '381', '382', '383', '384', '385', '386', '387', '388', '389', '390', '391', '392', '393', '394', '395', '396', '397', '398', '399', '400', '401', '402', '403', '404', '405', '406', '407', '408', '409', '410', '411', '412', '413', '414', '415', '416', '417', '418', '419', '420', '421', '422', '423', '424', '425', '426', '427', '428', '429', '430', '431', '432', '433', '434', '435', '436', '437', '438', '439', '440', '441', '442', '443', '444', '445', '446', '447', '448', '449', '450', '451', '452', '453', '454', '455', '456', '457', '458', '459', '460', '461', '462', '463', '464', '465', '466', '467', '468', '469', '470', '471', '472', '473', '474', '475', '476', '477', '478', '479', '480', '481', '482', '483', '484', '485', '486', '487', '488', '489', '490', '491', '492', '493', '494', '495', '496', '497', '498', '499', '500'])

In [283]:
# what does the first level of our dictionary look like?
discover['1']
# This is page 1 of the results

discover['1']['results']
# these are the entries on page 1. Our plan now is to write a loop to iterate through the pages, and concatenate the 
# results onto our dataframe tmdb_discover

[{'popularity': 823.042,
  'vote_count': 12617,
  'video': False,
  'poster_path': '/gGEsBPAijhVUFoiNpgZXqRVWJt2.jpg',
  'id': 354912,
  'adult': False,
  'backdrop_path': '/askg3SMvhqEl4OL52YuvdtY40Yb.jpg',
  'original_language': 'en',
  'original_title': 'Coco',
  'genre_ids': [16, 10751, 35, 12, 14, 10402],
  'title': 'Coco',
  'vote_average': 8.2,
  'overview': "Despite his family’s baffling generations-old ban on music, Miguel dreams of becoming an accomplished musician like his idol, Ernesto de la Cruz. Desperate to prove his talent, Miguel finds himself in the stunning and colorful Land of the Dead following a mysterious chain of events. Along the way, he meets charming trickster Hector, and together, they set off on an extraordinary journey to unlock the real story behind Miguel's family history.",
  'release_date': '2017-10-27'},
 {'popularity': 356.048,
  'vote_count': 5124,
  'video': False,
  'poster_path': '/zfE0R94v1E8cuKAerbskfD3VfUt.jpg',
  'id': 474350,
  'adult': False,
  'backdrop_path': '/8moTOzunF7p40oR5XhlDvJckOSW.jpg',
  'original_language': 'en',
  'original_title': 'It Chapter Two',
  'genre_ids': [27, 14],
  'title': 'It Chapter Two',
  'vote_average': 6.9,
  'overview': "27 years after overcoming the malevolent supernatural entity Pennywise, the former members of the Losers' Club, who have grown up and moved away from Derry, are brought back together by a devastating phone call.",
  'release_date': '2019-09-04'},
 {'popularity': 333.745,
  'vote_count': 15365,
  'video': False,
  'poster_path': '/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg',
  'id': 475557,
  'adult': False,
  'backdrop_path': '/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg',
  'original_language': 'en',
  'original_title': 'Joker',
  'genre_ids': [80, 53, 18],
  'title': 'Joker',
  'vote_average': 8.2,
  'overview': 'During the 1980s, a failed stand-up comedian is driven insane and turns to a life of crime and chaos in Gotham City while becoming an infamous psychopathic crime figure.',
  'release_date': '2019-10-02'},
 {'popularity': 279.613,
  'vote_count': 6340,
  'video': False,
  'poster_path': '/qXsndsv3WOoxszmdlvTWeY688eK.jpg',
  'id': 330457,
  'adult': False,
  'backdrop_path': '/xJWPZIYOEFIjZpBL7SVBGnzRYXp.jpg',
  'original_language': 'en',
  'original_title': 'Frozen II',
  'genre_ids': [16, 10751, 12, 35, 14],
  'title': 'Frozen II',
  'vote_average': 7.3,
  'overview': 'Elsa, Anna, Kristoff and Olaf head far into the forest to learn the truth about an ancient mystery of their kingdom.',
  'release_date': '2019-11-20'},
 {'popularity': 204.021,
  'vote_count': 3720,
  'video': False,
  'poster_path': '/ubLbY97m8lYJ3Fykh7nfiwB5eth.jpg',
  'id': 316727,
  'adult': False,
  'backdrop_path': '/craD86vySKvAkboyeXFnZwHrNA8.jpg',
  'original_language': 'en',
  'original_title': 'The Purge: Election Year',
  'genre_ids': [28, 27, 53],
  'title': 'The Purge: Election Year',
  'vote_average': 6.4,
  'overview': 'Two years after choosing not to kill the man who killed his son, former police sergeant Leo Barnes has become head of security for Senator Charlene Roan, the front runner in the next Presidential election due to her vow to eliminate the Purge. On the night of what should be the final Purge, a betrayal from within the government forces Barnes and Roan out onto the street where they must fight to survive the night.',
  'release_date': '2016-06-29'},
 {'popularity': 231.535,
  'vote_count': 4922,
  'video': False,
  'poster_path': '/jyw8VKYEiM1UDzPB7NsisUgBeJ8.jpg',
  'id': 512200,
  'adult': False,
  'backdrop_path': '/zTxHf9iIOCqRbxvl8W5QYKrsMLq.jpg',
  'original_language': 'en',
  'original_title': 'Jumanji: The Next Level',
  'genre_ids': [12, 35, 14],
  'title': 'Jumanji: The Next Level',
  'vote_average': 7,
  'overview': 'As the gang return to Jumanji to rescue one of their own, they discover that nothing is as they expect. The players will have to brave parts unknown and unexplored in order to escape the world’s most dangerous game.',
  'release_date': '2019-12-04'},
 {'popularity': 202.211,
  'vote_count': 20049,
  'video': False,
  'poster_path': '/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg',
  'id': 299536,
  'adult': False,
  'backdrop_path': '/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg',
  'original_language': 'en',
  'original_title': 'Avengers: Infinity War',
  'genre_ids': [12, 28, 878],
  'title': 'Avengers: Infinity War',
  'vote_average': 8.3,
  'overview': 'As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.',
  'release_date': '2018-04-25'},
 {'popularity': 210.977,
  'vote_count': 96,
  'video': False,
  'poster_path': '/dp1brl24LXGFU3JPFaDoljDONRz.jpg',
  'id': 640882,
  'adult': False,
  'backdrop_path': '/3xe3RUDpdrD9XCzgdlpUFgwIX0z.jpg',
  'original_language': 'en',
  'original_title': '3022',
  'genre_ids': [878],
  'title': '3022',
  'vote_average': 5.7,
  'overview': 'A group of astronauts living in the haunting emptiness of deep space awakens to find earth has suffered an extinction-level event.',
  'release_date': '2019-11-22'},
 {'popularity': 241.933,
  'id': 384018,
  'video': False,
  'vote_count': 4281,
  'vote_average': 6.9,
  'title': 'Fast & Furious Presents: Hobbs & Shaw',
  'release_date': '2019-08-01',
  'original_language': 'en',
  'original_title': 'Fast & Furious Presents: Hobbs & Shaw',
  'genre_ids': [28, 12, 35],
  'backdrop_path': '/qAhedRxRYWZAgZ8O8pHIl6QHdD7.jpg',
  'adult': False,
  'overview': "Ever since US Diplomatic Security Service Agent Hobbs and lawless outcast Shaw first faced off, they just have swapped smacks and bad words. But when cyber-genetically enhanced anarchist Brixton's ruthless actions threaten the future of humanity, both join forces to defeat him. (A spin-off of “The Fate of the Furious,” focusing on Johnson's Luke Hobbs and Statham's Deckard Shaw.)",
  'poster_path': '/qRyy2UmjC5ur9bDi3kpNNRCc5nc.jpg'},
 {'popularity': 192.591,
  'id': 420634,
  'video': False,
  'vote_count': 298,
  'vote_average': 6.3,
  'title': 'Terrifier',
  'release_date': '2016-10-15',
  'original_language': 'en',
  'original_title': 'Terrifier',
  'genre_ids': [53, 27],
  'backdrop_path': '/fBNnj5bQ5YhzPUzxIW1UvLVZepP.jpg',
  'adult': False,
  'overview': 'A maniacal clown named Art terrorizes three young women and everyone else who stands in his way on Halloween night.',
  'poster_path': '/4lwh4MX2yCogHflyAYMRbfdnpnm.jpg'},
 {'popularity': 197.853,
  'id': 442249,
  'video': False,
  'vote_count': 2639,
  'vote_average': 5.9,
  'title': 'The First Purge',
  'release_date': '2018-07-04',
  'original_language': 'en',
  'original_title': 'The First Purge',
  'genre_ids': [28, 878, 53, 27],
  'backdrop_path': '/r4clWIxKeWoqrHspQP0XunuUmB7.jpg',
  'adult': False,
  'overview': 'To push the crime rate below one percent for the rest of the year, the New Founding Fathers of America test a sociological theory that vents aggression for one night in one isolated community. But when the violence of oppressors meets the rage of the others, the contagion will explode from the trial-city borders and spread across the nation.',
  'poster_path': '/litjsBoiydO6JlO70uOX4N3WnNL.jpg'},
 {'popularity': 188.406,
  'vote_count': 6824,
  'video': False,
  'poster_path': '/iZf0KyrE25z1sage4SYFLCCrMi9.jpg',
  'id': 530915,
  'adult': False,
  'backdrop_path': '/cqa3sa4c4jevgnEJwq3CMF8UfTG.jpg',
  'original_language': 'en',
  'original_title': '1917',
  'genre_ids': [10752, 18],
  'title': '1917',
  'vote_average': 7.9,
  'overview': 'At the height of the First World War, two young British soldiers must cross enemy territory and deliver a message that will stop a deadly attack on hundreds of soldiers.',
  'release_date': '2019-12-25'},
 {'popularity': 187.627,
  'vote_count': 15521,
  'video': False,
  'poster_path': '/or06FN3Dka5tukK1e9sl16pB3iy.jpg',
  'id': 299534,
  'adult': False,
  'backdrop_path': '/orjiB3oUIsyz60hoEqkiGpy5CeO.jpg',
  'original_language': 'en',
  'original_title': 'Avengers: Endgame',
  'genre_ids': [12, 878, 28],
  'title': 'Avengers: Endgame',
  'vote_average': 8.3,
  'overview': "After the devastating events of Avengers: Infinity War, the universe is in ruins due to the efforts of the Mad Titan, Thanos. With the help of remaining allies, the Avengers must assemble once more in order to undo Thanos' actions and restore order to the universe once and for all, no matter what consequences may be in store.",
  'release_date': '2019-04-24'},
 {'popularity': 173.129,
  'vote_count': 337,
  'video': False,
  'poster_path': '/dBSEA6P2bq7apsmORxV0a54puhL.jpg',
  'id': 87436,
  'adult': False,
  'backdrop_path': '/633VU2W1jOs8WLcZXyE2gnjk84W.jpg',
  'original_language': 'en',
  'original_title': 'The ABCs of Death',
  'genre_ids': [27],
  'title': 'The ABCs of Death',
  'vote_average': 4.8,
  'overview': "An ambitious anthology film featuring segments directed by over two dozen of the world's leading talents in contemporary genre film. Inspired by children's educational ABC books, the film comprises 26 individual chapters, each helmed by a different director assigned a letter of the alphabet. The directors were then given free reign in choosing a word to create a story involving death.",
  'release_date': '2013-03-08'},
 {'popularity': 182.415,
  'vote_count': 6982,
  'video': False,
  'poster_path': '/dzBtMocZuJbjLOXvrl4zGYigDzh.jpg',
  'id': 420818,
  'adult': False,
  'backdrop_path': '/nRXO2SnOA75OsWhNhXstHB8ZmI3.jpg',
  'original_language': 'en',
  'original_title': 'The Lion King',
  'genre_ids': [12, 10751, 10402],
  'title': 'The Lion King',
  'vote_average': 7.2,
  'overview': "Simba idolizes his father, King Mufasa, and takes to heart his own royal destiny. But not everyone in the kingdom celebrates the new cub's arrival. Scar, Mufasa's brother—and former heir to the throne—has plans of his own. The battle for Pride Rock is ravaged with betrayal, tragedy and drama, ultimately resulting in Simba's exile. With help from a curious pair of newfound friends, Simba will have to figure out how to grow up and take back what is rightfully his.",
  'release_date': '2019-07-12'},
 {'popularity': 173.739,
  'vote_count': 6111,
  'video': False,
  'poster_path': '/29Qf0zH2pF1YKBxWJIcSvS6ubJq.jpg',
  'id': 158015,
  'adult': False,
  'backdrop_path': '/tZ0A51DX5UKJbpa15RX0FyduVQT.jpg',
  'original_language': 'en',
  'original_title': 'The Purge',
  'genre_ids': [878, 27, 53],
  'title': 'The Purge',
  'vote_average': 6.2,
  'overview': "Given the country's overcrowded prisons, the U.S. government begins to allow 12-hour periods of time in which all illegal activity is legal. During one of these free-for-alls, a family must protect themselves from a home invasion.",
  'release_date': '2013-05-31'},
 {'popularity': 210.407,
  'vote_count': 121,
  'video': False,
  'poster_path': '/rfItXrtDGILwsCdmgVxX79phFuI.jpg',
  'id': 440249,
  'adult': False,
  'backdrop_path': '/uO6ZUez70Twan92pqoV60T9kiGH.jpg',
  'original_language': 'en',
  'original_title': 'After Porn Ends 2',
  'genre_ids': [99],
  'title': 'After Porn Ends 2',
  'vote_average': 5,
  'overview': "After Porn Ends 2 picks up where its predecessor left off and not only turns back the clock to meet the oldest living stars in adult film's history, but goes in depth with some of Its most current retirees and juxtaposes their experiences in a life after porn. Delving deeper into society's ongoing stigmas of race, misogyny, and the reality of decreasing opportunities for these former VHS box cover stars. For some, their careers in adult entertainment is accepted proudly and without regret. In fact, it seems to have proven to be the pathway to their current happiness and inner peace. For others, however, a career in porn has proven to be a conduit to certain despair as they struggle to find a way to bury their past and emerge with a new career or calling.",
  'release_date': '2017-03-28'},
 {'popularity': 177.346,
  'vote_count': 8588,
  'video': False,
  'poster_path': '/4q2NNj4S5dG2RLF9CpXsej7yXl.jpg',
  'id': 429617,
  'adult': False,
  'backdrop_path': '/5myQbDzw3l8K9yofUXRJ4UTVgam.jpg',
  'original_language': 'en',
  'original_title': 'Spider-Man: Far from Home',
  'genre_ids': [28, 12, 878],
  'title': 'Spider-Man: Far from Home',
  'vote_average': 7.6,
  'overview': 'Peter Parker and his friends go on a summer trip to Europe. However, they will hardly be able to rest - Peter will have to agree to help Nick Fury uncover the mystery of creatures that cause natural disasters and destruction throughout the continent.',
  'release_date': '2019-06-28'},
 {'popularity': 174.398,
  'vote_count': 1217,
  'video': False,
  'poster_path': '/q1epO0eO8DWu8Vo8tPfvVlzW48T.jpg',
  'id': 481084,
  'adult': False,
  'backdrop_path': '/ur4NTeFGZmQ6Hz5uEkAMgPI3WRg.jpg',
  'original_language': 'en',
  'original_title': 'The Addams Family',
  'genre_ids': [16, 35, 10751, 14],
  'title': 'The Addams Family',
  'vote_average': 6.6,
  'overview': "The Addams family's lives begin to unravel when they face-off against a treacherous, greedy crafty reality-TV host while also preparing for their extended family to arrive for a major celebration.",
  'release_date': '2019-10-10'},
 {'popularity': 182.592,
  'vote_count': 3778,
  'video': False,
  'poster_path': '/vloNTScJ3w7jwNwtNGoG8DbTThv.jpg',
  'id': 420809,
  'adult': False,
  'backdrop_path': '/skvI4rYFrKXS73BJxWGH54Omlvv.jpg',
  'original_language': 'en',
  'original_title': 'Maleficent: Mistress of Evil',
  'genre_ids': [14, 10751, 12],
  'title': 'Maleficent: Mistress of Evil',
  'vote_average': 7.4,
  'overview': 'Maleficent and her goddaughter Aurora begin to question the complex family ties that bind them as they are pulled in different directions by impending nuptials, unexpected allies, and dark new forces at play.',
  'release_date': '2019-10-16'}]

In [284]:
tmdb_discover = pd.DataFrame() #start by making an empty dataframe to hold our results

# loop through each page of our response JSON, make it into a dataframe, and concatenate onto our big dataframe
for x in discover:
    df = pd.DataFrame.from_dict(discover[x]['results'])
    tmdb_discover = pd.concat([tmdb_discover, df])

tmdb_discover #finished dataframe

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,823.042,12617,False,/gGEsBPAijhVUFoiNpgZXqRVWJt2.jpg,354912,False,/askg3SMvhqEl4OL52YuvdtY40Yb.jpg,en,Coco,"[16, 10751, 35, 12, 14, 10402]",Coco,8.2,Despite his family’s baffling generations-old ...,2017-10-27
1,356.048,5124,False,/zfE0R94v1E8cuKAerbskfD3VfUt.jpg,474350,False,/8moTOzunF7p40oR5XhlDvJckOSW.jpg,en,It Chapter Two,"[27, 14]",It Chapter Two,6.9,27 years after overcoming the malevolent super...,2019-09-04
2,333.745,15365,False,/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg,475557,False,/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg,en,Joker,"[80, 53, 18]",Joker,8.2,"During the 1980s, a failed stand-up comedian i...",2019-10-02
3,279.613,6340,False,/qXsndsv3WOoxszmdlvTWeY688eK.jpg,330457,False,/xJWPZIYOEFIjZpBL7SVBGnzRYXp.jpg,en,Frozen II,"[16, 10751, 12, 35, 14]",Frozen II,7.3,"Elsa, Anna, Kristoff and Olaf head far into th...",2019-11-20
4,204.021,3720,False,/ubLbY97m8lYJ3Fykh7nfiwB5eth.jpg,316727,False,/craD86vySKvAkboyeXFnZwHrNA8.jpg,en,The Purge: Election Year,"[28, 27, 53]",The Purge: Election Year,6.4,Two years after choosing not to kill the man w...,2016-06-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,0.600,40,False,/b6BzZuNv8YNePhuzrA5yKxbGb2H.jpg,184712,False,None,en,Battledogs,"[28, 27, 878]",Battledogs,5.0,When a strange werewolf virus threatens to dec...,2013-04-05
3,0.600,322,False,/f4fR1WMgSv7K93ZPoJlPyvaApdE.jpg,174323,False,/xMI50FAfPOLwUQ0uKM3u3EmFeHc.jpg,en,G.B.F.,"[35, 18]",G.B.F.,5.9,The bitter fight for supremacy between the thr...,2013-10-20
4,0.600,41,False,/f0g2nInIU1MU74wP7av3AvxzSBB.jpg,173455,False,None,en,Mistaken for Strangers,"[99, 10402]",Mistaken for Strangers,7.2,Mistaken for Strangers follows The National on...,2013-09-19
5,0.600,37,False,/xYW9kuRPpkumbyOK3znajiKNEQu.jpg,136568,False,None,en,Dragon Wasps,"[28, 878]",Dragon Wasps,5.0,A scientist enlists the help of the US army to...,2012-09-17
6,0.600,67,False,/jR23RdlMY8sYP3oWSmCz5DaZ2ok.jpg,110393,False,/y9baxnmtffNzIdBPBhxzTruvBRo.jpg,en,Elefante blanco,[18],White Elephant,6.6,"The ""Villa Virgin"", a shantytown in the slums ...",2012-05-16

By pre-filtering for 2010 or greater, 31+ votes, and english language films, we have 6,467 movies in our dataset using this API. Because of this, we are definitely going to use this data instead of the provided TMDB dataset, which also had around 6,000 results but had not yet been filtered for > 2010 or english language. 

We are NOT using the provided TMDB dataset from earlier in the notebook. We've found that we have higher quality data via our API pull, and will be using our tmdb_discover dataset and discarding our tmdb dataset.

## Exploring the Data - Part 2

In [77]:
tmdb_discover.shape
# we have 6,467 entries

(6467, 14)

In [78]:
tmdb_discover.dtypes
# we'll take a look at fixing the release_date format and converting that to a proper datetime. Everything else looks correct.

popularity           float64
vote_count             int64
video                   bool
poster_path           object
id                     int64
adult                   bool
backdrop_path         object
original_language     object
original_title        object
genre_ids             object
title                 object
vote_average         float64
overview              object
release_date          object
dtype: object

In [79]:
tmdb_discover.describe()
# we can see that we have meaningful data with a reasonable vote_count per entry and high popularity

        popularity    vote_count             id  vote_average
count  6467.000000   6467.000000    6467.000000   6467.000000
mean     16.882259    875.385959  278345.921911      6.144054
std      22.396100   2130.704551  162710.319403      0.968545
min       0.600000     31.000000     189.000000      1.500000
25%       7.991000     55.000000  118476.000000      5.500000
50%      10.977000    133.000000  290542.000000      6.200000
75%      17.525500    585.000000  410835.000000      6.800000
max     823.042000  27499.000000  704264.000000      9.000000

In [80]:
tmdb_discover[(tmdb_discover['genre_ids'] == '[]')].count()
# All of our entries have genre ids.

popularity           0
vote_count           0
video                0
poster_path          0
id                   0
adult                0
backdrop_path        0
original_language    0
original_title       0
genre_ids            0
title                0
vote_average         0
overview             0
release_date         0
dtype: int64

In [174]:
tmdb_discover.isnull().sum()
# we have no null or missing values in our dataset

popularity      0
vote_count      0
vote_average    0
release_date    0
dtype: int64

In [81]:
tmdb_discover.columns
# we don't need all of these columns, so I need a reminder right here of what I want to drop

Index(['popularity', 'vote_count', 'video', 'poster_path', 'id', 'adult',
       'backdrop_path', 'original_language', 'original_title', 'genre_ids',
       'title', 'vote_average', 'overview', 'release_date'],
      dtype='object')

## Data Cleanup

What do we actually need to use from this data set?

We'll be connecting this data to our larger IMDB database, based on IMDB ID. IMDB already has a lot of the information that we have about our movies here, such as genre. As such, the primary information that we want from this data is the user ratings, vote counts, and popularity. We'll be keeping only columns that relate to this goal and dropping columns that will be redundant with our IMDB data set. We will have the IMDB id to match our data sets on and will not need other fields to match on.

At present we will keep release dates because the release dates in this data are more specific than IMDB's release dates.


OLD POST:

We're going to do the following work on this dataset to clean it up:
    
    a) change our release date to standard format
    b) Drop unneeded columns
        * video - we know all of these values are false, as it was part of our API parameters
        * poster_path - provides a path to an image for the movie, which we don't need
        * adult - we know all of these values are false, as it was part of our API parameters
        * backdrop_path - another set of images, which we don't need
        * original_titles - if the movie is in a foreign language, the original title is here, we only need the english titles
        * overview - summary description of the movie, which we cannot use in visualization
        * original_language - we're only using english language movies, so this is a redundant field

##### Considerations - drop genre now? Means eliminating some API work, and justifying

In [82]:
# cleaning up this dataset

# using pandas built-in datetime converter to change our release date column to standard format
tmdb_discover['release_date'] = pd.to_datetime(tmdb_discover['release_date'])

#drop columns by name
tmdb_discover.drop(columns=['video', 'poster_path', 'adult', 'backdrop_path', 'original_title', 'overview', 'original_language', 'genre_ids'], inplace=True)
# columns dropped:  
# video - we know all of these values are false, as it was part of our API parameters

In [83]:
tmdb_discover # confirming that we have cleaned up our data and have only the information we need to use

,popularity,vote_count,id,title,vote_average,release_date
0,823.042,12617,354912,Coco,8.2,2017-10-27
1,356.048,5124,474350,It Chapter Two,6.9,2019-09-04
2,333.745,15365,475557,Joker,8.2,2019-10-02
3,279.613,6340,330457,Frozen II,7.3,2019-11-20
4,204.021,3720,316727,The Purge: Election Year,6.4,2016-06-29
...,...,...,...,...,...,...
2,0.600,40,184712,Battledogs,5.0,2013-04-05
3,0.600,322,174323,G.B.F.,5.9,2013-10-20
4,0.600,41,173455,Mistaken for Strangers,7.2,2013-09-19
5,0.600,37,136568,Dragon Wasps,5.0,2012-09-17
6,0.600,67,110393,White Elephant,6.6,2012-05-16

We need this data set in order to make our API calls for the IMDB ID matchup, so we're going to export it to a csv that we can then import into our API production file.

In [84]:
tmdb_discover.to_csv('api_data/tmdb_discover.csv', index=False)

## IMDB ID Matchup

Our next goal is to match up IMDB movie ids for each of the movie ids in our data set. TMDB has an API to do exactly this - submit the TMDB id, and get an IMDB id in return. Each TMDB movie id is a parameter that must be passed to an individual API call, so we won't be using the web interface for this action.

We move to the tmdb_api_calls notebook to do this process.

We've exported our Discover Data Set up above and processed it in our API notebook, and will now re-import it here with our TMDB ids replaced with IMDB ids!

### !!! STOP !!! Go to the API notebook tmdb_api_calls.ipynb and run the second section titled "IMDB ID Matchup" now.

In [175]:
tmdb_discover = pd.read_csv('api_data/tmdb_discover_converted.csv')

tmdb_discover
# we now have our original tmdb_discover dataset converted to IMDB ids instead of TMDB ids.
# We'll be able to cross reference this set later on with IMDB datasets.

,popularity,vote_count,id,title,vote_average,release_date
0,823.042,12617,tt2380307,Coco,8.2,2017-10-27
1,356.048,5124,tt7349950,It Chapter Two,6.9,2019-09-04
2,333.745,15365,tt7286456,Joker,8.2,2019-10-02
3,279.613,6340,tt4520988,Frozen II,7.3,2019-11-20
4,204.021,3720,tt4094724,The Purge: Election Year,6.4,2016-06-29
...,...,...,...,...,...,...
6462,0.600,40,tt2457138,Battledogs,5.0,2013-04-05
6463,0.600,322,tt2429074,G.B.F.,5.9,2013-10-20
6464,0.600,41,tt2737310,Mistaken for Strangers,7.2,2013-09-19
6465,0.600,37,tt2170371,Dragon Wasps,5.0,2012-09-17
6466,0.600,67,tt2132324,White Elephant,6.6,2012-05-16

In [176]:
#Now that we have replaced our TMDB id with IMDB id, we'll set the IMDB id as our index
tmdb_discover.set_index('id', inplace=True)

In [177]:
# We no longer need the titles in this dataset, as we'll be merging it to our IMDB set on IMDB id
tmdb_discover.drop(columns=['title'], inplace=True)

In [178]:
# confirming it worked
tmdb_discover

           popularity  vote_count  vote_average release_date
id
tt2380307     823.042       12617           8.2   2017-10-27
tt7349950     356.048        5124           6.9   2019-09-04
tt7286456     333.745       15365           8.2   2019-10-02
tt4520988     279.613        6340           7.3   2019-11-20
tt4094724     204.021        3720           6.4   2016-06-29
...               ...         ...           ...          ...
tt2457138       0.600          40           5.0   2013-04-05
tt2429074       0.600         322           5.9   2013-10-20
tt2737310       0.600          41           7.2   2013-09-19
tt2170371       0.600          37           5.0   2012-09-17
tt2132324       0.600          67           6.6   2012-05-16

[6467 rows x 4 columns]

## Unneeded? Movie Genres Data Set

TMDB allows for browser-based API calls, so we will use their browser system for the simpler calls by copying the text results into our source code editor and saving each as a JSON

First up using https://developers.themoviedb.org/3/genres/get-movie-list to get a JSON dictionary of movie genres.

In [90]:
# We saved the resulting web-based text return as a JSON using our source code editor, and now we load it
f = open('api_data/tmdb_movie_genres.json')
data = json.load(f)
data

{'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 16, 'name': 'Animation'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 80, 'name': 'Crime'},
  {'id': 99, 'name': 'Documentary'},
  {'id': 18, 'name': 'Drama'},
  {'id': 10751, 'name': 'Family'},
  {'id': 14, 'name': 'Fantasy'},
  {'id': 36, 'name': 'History'},
  {'id': 27, 'name': 'Horror'},
  {'id': 10402, 'name': 'Music'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 10749, 'name': 'Romance'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 10770, 'name': 'TV Movie'},
  {'id': 53, 'name': 'Thriller'},
  {'id': 10752, 'name': 'War'},
  {'id': 37, 'name': 'Western'}]}

In [91]:
tmdb_genres = pd.DataFrame.from_dict(data['genres']) # loading our JSON into a pandas dataframe

tmdb_genres.set_index('id', inplace=True) # Setting the genre id as our index

tmdb_genres # Looks as expected

                  name
id
28              Action
12           Adventure
16           Animation
35              Comedy
80               Crime
99         Documentary
18               Drama
10751           Family
14             Fantasy
36             History
27              Horror
10402            Music
9648           Mystery
10749          Romance
878    Science Fiction
10770         TV Movie
53            Thriller
10752              War
37             Western

## TO DO - movie genres integration

In [92]:
genres = data['genres']

newdict = {}

for x in range(len(genres)):
    key = genres[x]['id']
    value = genres[x]['name']
    newdict[key] = value
    
newdict

# This did what we want, but WE CAN DO BETTER.

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

# Source 1 - IMDB

First we will look at our provided data sets from IMDB and see how they need cleaning. When performing cleaning analysis on ALL datasets in this project, we initially want to know things like:
    * What is the shape of our imported data?
    * How many data entries?
    * What format is the data in?
    * How can we remove the most obvious redundancies (columns we just don't need, etc)
    * Are there missing/null values in the dataset that will need to be removed or imputed?
    
While we do our cleanup analysis on each of these IMDB data sets, we'll explore how they will interact with each other when we merge them. We'll determine what needs to be cleaned before vs after merging the datasets.

## IMDB1 - User ratings per movie ID

In [2]:
# import imdb user ratings per movie
imdb1 = pd.read_csv('zippedData/title.ratings.csv')

### Exploring the Data

In [3]:
# taking a look at what we've imported
imdb1
# this dataset is using the movie id and showing the average rating, and the number of votes

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [4]:
# what is the shape of our data?
imdb1.shape
# this dataset has 73,856 movie entries

(73856, 3)

In [5]:
# what kind of data is stored?
imdb1.dtypes
# The data in this set appears to be stored in the proper formats

tconst            object
averagerating    float64
numvotes           int64
dtype: object

In [6]:
# what are our columns?
imdb1.columns
# The 'tconst' will be found throughout our IMDB datasets. We will consider turning it into our index for all of the IMDB datasets.

Index(['tconst', 'averagerating', 'numvotes'], dtype='object')

In [7]:
# do we have any missing/null values?
imdb1.isnull().sum()
# This dataset has no missing values. That doesn't mean there aren't categorical placeholders, and we will look into that further

tconst           0
averagerating    0
numvotes         0
dtype: int64

In [8]:
round(imdb1.describe(), 2)

       averagerating    numvotes
count       73856.00    73856.00
mean            6.33     3523.66
std             1.47    30294.02
min             1.00        5.00
25%             5.50       14.00
50%             6.50       49.00
75%             7.40      282.00
max            10.00  1841066.00

### Data Cleanup

In [9]:
#We make the unique "tconst" into our index.
imdb1.set_index('tconst', inplace=True)

In [10]:
imdb1

            averagerating  numvotes
tconst
tt10356526            8.3        31
tt10384606            8.9       559
tt1042974             6.4        20
tt1043726             4.2     50352
tt1060240             6.5        21
...                   ...       ...
tt9805820             8.1        25
tt9844256             7.5        24
tt9851050             4.7        14
tt9886934             7.0         5
tt9894098             6.3       128

[73856 rows x 2 columns]

## IMDB2 - Cast and crew per movie ID

In [139]:
# import imdb primary cast and crew per movie
imdb2 = pd.read_csv('zippedData/title.principals.csv')

### Exploring the Data

In [140]:
# taking a look at what we've imported
imdb2
# this dataset is using the movie id and showing the principal cast and crew for each movie, by the cast/crew id

,tconst,ordering,nconst,category,job,characters
0,tt0111414,1,nm0246005,actor,NaN,"[""The Man""]"
1,tt0111414,2,nm0398271,director,NaN,NaN
2,tt0111414,3,nm3739909,producer,producer,NaN
3,tt0323808,10,nm0059247,editor,NaN,NaN
4,tt0323808,1,nm3579312,actress,NaN,"[""Beth Boothby""]"
...,...,...,...,...,...,...
1028181,tt9692684,1,nm0186469,actor,NaN,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,NaN,"[""Herself"",""Regan""]"
1028183,tt9692684,3,nm10441594,director,NaN,NaN
1028184,tt9692684,4,nm6009913,writer,writer,NaN
1028185,tt9692684,5,nm10441595,producer,producer,NaN

In [141]:
# what is the shape of our data?
imdb2.shape
# this dataset has 1,028,186 cast and crew entries

(1028186, 6)

In [142]:
# what kind of data is stored?
imdb2.dtypes
# The data in this set appears to be stored in the proper formats

tconst        object
ordering       int64
nconst        object
category      object
job           object
characters    object
dtype: object

In [143]:
# what are our columns?
imdb2.columns
# The 'tconst' will be found throughout our IMDB datasets. We will turn it into our index for all of the IMDB datasets.

Index(['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'], dtype='object')

In [147]:
# do we have any missing/null values?
imdb2.isnull().sum()
# This dataset has large numbers of missing values. We will inspect the data itself to determine if this is important.

tconst             0
ordering           0
nconst             0
category           0
job           850502
characters    634826
dtype: int64

In [148]:
temp = imdb2.loc[(imdb2['job'].notnull())]
temp
# job seems very closely related to category. Only 177k (out of over 1mil) entries have this category filled
# and it's largely a duplicate or reword of category. We will drop this column.

            tconst  ordering      nconst  category       job characters
2        tt0111414         3   nm3739909  producer  producer        NaN
9        tt0323808         6   nm0811056  producer  producer        NaN
10       tt0323808         7   nm0914939  producer  producer        NaN
19       tt0417610         6   nm0083201    writer     story        NaN
20       tt0417610         7   nm0147416  producer  producer        NaN
...            ...       ...         ...       ...       ...        ...
1028140  tt9670894         9  nm10480024    writer  dialogue        NaN
1028148  tt9672244         7   nm3279394    writer      poem        NaN
1028172  tt9681728         6   nm7442758  producer  producer        NaN
1028184  tt9692684         4   nm6009913    writer    writer        NaN
1028185  tt9692684         5  nm10441595  producer  producer        NaN

[177684 rows x 6 columns]

In [149]:
temp = imdb2.loc[(imdb2['characters'].notnull())]
temp
# it seems unimportant to know what character the actors and actresses play. We can't really use that information.
# we will drop this column

,tconst,ordering,nconst,category,job,characters
0,tt0111414,1,nm0246005,actor,NaN,"[""The Man""]"
4,tt0323808,1,nm3579312,actress,NaN,"[""Beth Boothby""]"
5,tt0323808,2,nm2694680,actor,NaN,"[""Steve Thomson""]"
6,tt0323808,3,nm0574615,actor,NaN,"[""Sir Lachlan Morrison""]"
7,tt0323808,4,nm0502652,actress,NaN,"[""Lady Delia Morrison""]"
...,...,...,...,...,...,...
1028170,tt9681728,4,nm10436662,actor,NaN,"[""Alexey""]"
1028174,tt9681728,8,nm10436663,actor,NaN,"[""Makar Petrovich""]"
1028175,tt9681728,9,nm10397910,actor,NaN,"[""Corpsman""]"
1028181,tt9692684,1,nm0186469,actor,NaN,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,NaN,"[""Herself"",""Regan""]"

After studying this dataset, we see that the movie id (tconst) is not unique. Because of this, we will not turn the tconst value into the index in any of the datasets.

### Data Cleanup

We will remove three unnecessary columns that are not needed for making recommendations.

In [150]:
# After inspecting the data, we can see that the "job" column is generally an extension of the "category" column 
# We will drop this column.
imdb2.drop(columns=['job'], inplace=True)

# We can also see that the "ordering" column is just for sorting the different jobs for each movie id
# we don't really need this column and will remove it as well
imdb2.drop(columns=['ordering'], inplace=True)

# lastly, we want all of our data to contribute to a recommendation, and while the actors themselves may be important,
# the characters they play do not seem particularly important. We will also drop the "characters" column
imdb2.drop(columns=['characters'], inplace=True)

In [151]:
imdb2

            tconst      nconst  category
0        tt0111414   nm0246005     actor
1        tt0111414   nm0398271  director
2        tt0111414   nm3739909  producer
3        tt0323808   nm0059247    editor
4        tt0323808   nm3579312   actress
...            ...         ...       ...
1028181  tt9692684   nm0186469     actor
1028182  tt9692684   nm4929530      self
1028183  tt9692684  nm10441594  director
1028184  tt9692684   nm6009913    writer
1028185  tt9692684  nm10441595  producer

[1028186 rows x 3 columns]

## IMDB3 - Director and writer assignments per movie id

In [20]:
#IMDB directors and writers per movie
imdb3 = pd.read_csv('zippedData/title.crew.csv')

### Exploring the Data

This appears to give the same information as the previous data set, but in a different format. Let's do a few comparisons and see if that is the case.

In [21]:
imdb3

           tconst                      directors              writers
0       tt0285252                      nm0899854            nm0899854
1       tt0438973                            NaN  nm0175726,nm1802864
2       tt0462036                      nm1940585            nm1940585
3       tt0835418                      nm0151540  nm0310087,nm0841532
4       tt0878654  nm0089502,nm2291498,nm2292011            nm0284943
...           ...                            ...                  ...
146139  tt8999974                     nm10122357           nm10122357
146140  tt9001390                      nm6711477            nm6711477
146141  tt9001494          nm10123242,nm10123248                  NaN
146142  tt9004986                      nm4993825            nm4993825
146143  tt9010172                            NaN            nm8352242

[146144 rows x 3 columns]

In [22]:
temp = imdb2.loc[imdb2['tconst'] == 'tt0417610']
temp
# our director is nm1145057 and our writer is nm0083201, let's check if it's the same in dataset 6

       tconst     nconst  category
13  tt0417610  nm0284261  composer
14  tt0417610  nm0532721     actor
15  tt0417610  nm0330974   actress
16  tt0417610  nm0069209     actor
17  tt0417610  nm0679167   actress
18  tt0417610  nm1145057  director
19  tt0417610  nm0083201    writer
20  tt0417610  nm0147416  producer
21  tt0417610  nm0215732  producer
22  tt0417610  nm1900304  producer

In [23]:
temp = imdb3.loc[imdb3['tconst'] == 'tt0417610']
temp
# at first glance it's not the same! But then we see that the director is also a writer.

          tconst  directors              writers
36477  tt0417610  nm1145057  nm0083201,nm1145057

In [24]:
# using this information, we'll have to decide if we want to value when a person is credited in multiple roles.

# let's check one more multi-role
temp = imdb2.loc[imdb2['tconst'] == 'tt0999913']
temp
# we have 1 director and 3 writers listed

           tconst     nconst  category
144169  tt0999913  nm0343935  composer
144170  tt0999913  nm0005188     actor
144171  tt0999913  nm0098378   actress
144172  tt0999913  nm0002907     actor
144173  tt0999913  nm0000249     actor
144174  tt0999913  nm0527109  director
144175  tt0999913  nm0329051    writer
144176  tt0999913  nm0001603    writer
144177  tt0999913  nm0930684    writer
144178  tt0999913  nm0296827  producer

In [25]:
temp = imdb3.loc[imdb3['tconst'] == 'tt0999913']
temp
# 1 director and 4 writers, where one of the writers is the director.

      tconst  directors                                  writers
7  tt0999913  nm0527109  nm0527109,nm0329051,nm0001603,nm0930684

In [26]:
# Let's take a look at a listing from this dataset with no writer attached, in dataset 5
temp = imdb2.loc[imdb2['tconst'] == 'tt0879859']
temp
# there is indeed no writer attached to this movie according to dataset 5

           tconst     nconst         category
144129  tt0879859  nm1269186           editor
144130  tt0879859  nm0028844            actor
144131  tt0879859  nm2421419          actress
144132  tt0879859  nm0090301          actress
144133  tt0879859  nm3127072          actress
144134  tt0879859  nm2416460         director
144135  tt0879859  nm0505953         producer
144136  tt0879859  nm0614195         producer
144137  tt0879859  nm1244349         composer
144138  tt0879859  nm0806706  cinematographer

### Data Cleanup

Based on what we are seeing here, we are NOT going to use this dataset. We'll use the other cast and crew dataset to get this same information already broken apart, rather than having to break apart this dataset.

## IMDB4 - Movie stats per movie ID

In [27]:
# import imdb stats per movie
imdb4 = pd.read_csv('zippedData/title.basics.csv')

### Exploring the Data

In [28]:
# taking a look at what we've imported
imdb4
# this dataset is using the movie id and finally we have the title of the movie, as well as the year, the runtime, and the genres

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [29]:
# what is the shape of our data?
imdb4.shape
# this dataset has 146,144 movie entries

(146144, 6)

In [30]:
# what kind of data is stored?
imdb4.dtypes
# The data in this set appears to be stored in the proper formats

tconst              object
primary_title       object
original_title      object
start_year           int64
runtime_minutes    float64
genres              object
dtype: object

In [31]:
# what are our columns?
imdb4.columns
# The 'tconst' is found throughout our IMDB datasets and is the movie identifier
# we will want to understand the distinction between primary_title and original_title

Index(['tconst', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres'],
      dtype='object')

In [32]:
# do we have any missing/null values?
imdb4.isnull().sum()
# This dataset has some missing values. We will inspect the data itself to determine if this is important.
# there are no primary titles or years missing, which seems like the most important data to have

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [33]:
imdb4.describe()
# the IMDB dataset starts at 2010, and includes unreleased future movies! This is really going to skew our dataset!
# we are only going to use movies up to 2019.

          start_year  runtime_minutes
count  146144.000000    114405.000000
mean     2014.621798        86.187247
std         2.733583       166.360590
min      2010.000000         1.000000
25%      2012.000000        70.000000
50%      2015.000000        87.000000
75%      2017.000000        99.000000
max      2115.000000     51420.000000

In [34]:
# let's look at where the primary title and original title don't match in order to understand more about that
temp = imdb4.loc[(imdb4['primary_title']) != (imdb4['original_title'])]
temp
# We can see from this that the original title is the movie's foreign language title. We will use the translated
# primary_title and drop this column

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
11,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History
13,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama
15,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History"
...,...,...,...,...,...,...
146026,tt9899938,Journey of the Sky Goddess,Kibaiyanse! Watashi,2019,116.0,"Comedy,Drama"
146028,tt9900060,Lupin the Third: Fujiko Mine's Lie,Lupin the IIIrd: Mine Fujiko no Uso,2019,NaN,"Adventure,Crime,Drama"
146037,tt9900688,Big Three Dragons,Da San Yuan,2019,111.0,Comedy
146121,tt9914254,A Cherry Tale,Kirsebæreventyret,2019,85.0,Documentary
146135,tt9916170,The Rehearsal,O Ensaio,2019,51.0,Drama

In [35]:
# Does this list include only movies, or does it also have shows? Let's take a look at runtime minutes
imdb4.sort_values('runtime_minutes', ascending=False).head()
# It's not clear if these are movies or shows

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
132389,tt8273150,Logistics,Logistics,2012,51420.0,Documentary
44840,tt2659636,Modern Times Forever,Modern Times Forever,2011,14400.0,Documentary
123467,tt7492094,Nari,Nari,2017,6017.0,Documentary
87264,tt5068890,Hunger!,Hunger!,2015,6000.0,"Documentary,Drama"
88717,tt5136218,London EC1,London EC1,2015,5460.0,"Comedy,Drama,Mystery"

### Data Cleanup

    1) Drop titles where the original title and translated title are not the same, indicating a foreign language film
    2) use regex to remove as many special characters from titles as possible, in hopes of matching this up with other data later
    3) set our IMDB id as our index
    4) Remove movies released after 2020 
    5) Dropping unnecessary column "original_title"

In [36]:
# Drop foreign language films. We'll create a dummy column by comparing on movie title, then we'll use that column's 
# boolean result to find and drop the films, then drop the dummy column
imdb4['foreign'] = (imdb4['primary_title'] != imdb4['original_title'])
imdb4.drop(imdb4[(imdb4['foreign'] == True)].index, inplace=True)
imdb4.drop(columns=['foreign'], inplace=True)
imdb4

# It doesn't get rid of all of our foreign language films, but it did remove around 14,000.

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
6,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [37]:
# use regex to remove all non-word characters from the primary_title
for ind in imdb4.index:
    text = str(imdb4['primary_title'][ind])
    result = re.sub(r"[,@\'?\.$%_:â()-]", "", text, flags=re.I)
    result = re.sub(r"\s+"," ", result, flags = re.I)
    imdb4['primary_title'][ind] = result

C:\Users\thren\anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
# Set tconst movie id as index
imdb4.set_index('tconst', inplace=True)

# Drop all movies from 2020 or later
imdb4.drop(imdb4[(imdb4['start_year'] >= 2020)].index, inplace=True)

# Drop original_title column
imdb4.drop(columns=['original_title'], inplace=True)

In [39]:
# Confirming we dropped all movies with a start year after 2019
imdb4.sort_values('start_year', ascending=False).head(10)

,primary_title,start_year,runtime_minutes,genres
tconst,,,,
tt7547410,Dora and the Lost City of Gold,2019,NaN,"Adventure,Family"
tt9421920,Vrienten & Vrienten in Basmannen,2019,NaN,Documentary
tt9425552,About Bintou,2019,13.0,Documentary
tt6534616,Empire Queen,2019,NaN,Fantasy
tt9423248,Reaching for the Sun,2019,NaN,Documentary
tt2584384,Jojo Rabbit,2019,NaN,"Comedy,Drama,War"
tt7475206,Non ci resta che il crimine,2019,102.0,"Comedy,Crime"
tt6533972,Princess of the Row,2019,85.0,Drama
tt9420744,Tembang Lingsir,2019,90.0,Horror
tt7473716,The Gallows Act II,2019,NaN,"Horror,Thriller"

In [189]:
imdb4
# Our final log of 130,605 movies since 2010. Are we sure about this part?

,primary_title,start_year,runtime_minutes,genres
tconst,,,,
tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama"
tt0069049,The Other Side of the Wind,2018,122.0,Drama
tt0069204,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
tt0111414,A Thin Life,2018,75.0,Comedy
tt0112502,Bigfoot,2017,NaN,"Horror,Thriller"
...,...,...,...,...
tt9916538,Kuambil Lagi Hatiku,2019,123.0,Drama
tt9916622,Rodolpho Teóphilo O Legado de um Pioneiro,2015,NaN,Documentary
tt9916706,Dankyavar Danka,2013,NaN,Comedy
tt9916730,6 Gunn,2017,116.0,NaN
tt9916754,Chico Albuquerque Revelações,2013,NaN,Documentary

In [277]:
imdb4.sort_values('start_year').head(30)
# We do some manual lookups and say ok, seems like 2010 or later

,primary_title,start_year,runtime_minutes,genres
tconst,,,,
tt1587419,Mint Julep,2010,99.0,"Comedy,Drama"
tt1648055,DSurvivors,2010,NaN,"Adventure,Comedy"
tt1648091,Getting High in the Barrio,2010,NaN,Comedy
tt1648092,Guerra Civil,2010,90.0,Drama
tt1648095,Here Comes the Bride,2010,108.0,"Comedy,Fantasy"
tt1648098,Just Laugh!,2010,70.0,Documentary
tt1648100,Kambal na bulaklak,2010,80.0,Drama
tt1648112,New Kids Turbo,2010,84.0,"Action,Comedy"
tt2720742,The End of the World,2010,NaN,Drama
tt1648161,Mu Kana Ete Kharap,2010,NaN,Drama
tt1648168,Wolf,2010,98.0,"Action,Crime,Drama"
tt1648174,Beyond the Steppes,2010,90.0,Drama
tt1998324,Suicide Lovers,2010,NaN,Drama
tt4460744,Modalasala,2010,140.0,Romance
tt1648187,Roses à crédit,2010,113.0,Drama
tt1648188,Sharunas Bartas An Army of One,2010,51.0,Documentary
tt4460650,NZ Detectives In Pursuit of the Truth,2010,NaN,Documentary
tt1648192,The Lobster and the Liver The Unique World of ...,2010,93.0,Documentary
tt4460572,Tenement,2010,96.0,Horror
tt1648200,Fields of November,2010,70.0,Drama
tt1648959,Chelovek s bulvara Kaputsinok,2010,106.0,Comedy
tt1649004,I Heart Regina,2010,78.0,"Comedy,Drama"
tt1649011,Indelible,2010,110.0,"Comedy,Drama"
tt1649286,Betting Bangarraju,2010,NaN,Comedy
tt1648051,Crimebuster A Sons Search for His Father,2010,68.0,"Biography,Crime,Documentary"
tt1649296,Cine dioses y billetes,2010,78.0,Documentary
tt1648045,Corpus,2010,65.0,Documentary
tt1648024,Bravo Sierra,2010,96.0,"Action,Adventure,Comedy"
tt1999104,Bitols,2010,83.0,"Comedy,Drama,Music"
tt2753494,Wätterschmöcker,2010,NaN,Documentary

### Data Combining IMDB1 and IMDB4

We need to clean up IMDB4 by removing titles with a low number of votes, so we need to join our imdb votes table with this one so that we can further refine it.

In [278]:
imdb4 = imdb4.join(imdb1, how="left")
imdb4

,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes
tconst,,,,,,
tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
tt0069049,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
tt0069204,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0
tt0111414,A Thin Life,2018,75.0,Comedy,NaN,NaN
tt0112502,Bigfoot,2017,NaN,"Horror,Thriller",4.1,32.0
...,...,...,...,...,...,...
tt9916538,Kuambil Lagi Hatiku,2019,123.0,Drama,NaN,NaN
tt9916622,Rodolpho Teóphilo O Legado de um Pioneiro,2015,NaN,Documentary,NaN,NaN
tt9916706,Dankyavar Danka,2013,NaN,Comedy,NaN,NaN
tt9916730,6 Gunn,2017,116.0,NaN,NaN,NaN
tt9916754,Chico Albuquerque Revelações,2013,NaN,Documentary,NaN,NaN

In [279]:
# we're not interested in any movies that aren't even popular enough to have ratings on IMDB. We are dropping all movies
# with no rating entries, and all movies with fewer than 100 votes
imdb4.drop(imdb4[imdb4['averagerating'].isnull()].index, inplace=True)
imdb4.drop(imdb4[imdb4['numvotes'] < 100].index, inplace=True)

In [280]:
imdb4

,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes
tconst,,,,,,
tt0069049,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
tt0137204,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",8.1,263.0
tt0146592,Pál Adrienn,2010,136.0,Drama,6.8,451.0
tt0249516,Foodfight!,2012,91.0,"Action,Animation,Comedy",1.9,8248.0
tt0250404,Godfather,2012,NaN,"Crime,Drama",6.7,236.0
...,...,...,...,...,...,...
tt9904844,Ott Tänak The Movie,2019,125.0,Documentary,8.7,218.0
tt9905412,Ottam,2019,120.0,Drama,8.1,505.0
tt9905462,Pengalila,2019,111.0,Drama,8.4,600.0
tt9911774,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365.0
tt9914286,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136.0

This is a much more manageable dataset. I am surprised that there were 21,694 movies made since 2010 and just a glance at our dataset makes me more suspicious that something isn't quite right about our data. A quick manual search reveals that our dataset includes a lot of foreign language films that didn't have wide release to the US. That makes this data fairly irrelevant for our uses, and there's no way for us to pull more information from IMDB via API. We also really might prefer to have a larger dataset than 2010-2019. Our solution will be to use a different source - TMDB, to be specific - as the basis of our study.

## IMDB5 - Alternate titles per movie ID

In [40]:
# import imdb alternate titles
imdb5 = pd.read_csv('zippedData/title.akas.csv')

### Exploring the Data

In [41]:
# taking a look at what we've imported
imdb5

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

### Data Cleanup

It is immediately apparent that this dataset lists all of the alternate titles for each movie id.

We won't be using this dataset.

## IMDB6 - Detailed crew info per person ID

In [42]:
# import imdb detailed crew information
imdb6 = pd.read_csv('zippedData/name.basics.csv')

### Exploring the Data

In [43]:
# taking a look at what we've imported
imdb6
# this dataset has the information about the cast and crew ids

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"
...,...,...,...,...,...,...
606643,nm9990381,Susan Grobes,NaN,NaN,actress,NaN
606644,nm9990690,Joo Yeon So,NaN,NaN,actress,"tt9090932,tt8737130"
606645,nm9991320,Madeline Smith,NaN,NaN,actress,"tt8734436,tt9615610"
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer,NaN
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer",tt8743182

In [44]:
# what is the shape of our data?
imdb6.shape
# this dataset has 606,648 people entries

(606648, 6)

In [45]:
# what kind of data is stored?
imdb6.dtypes
# The data in this set appears to be stored in the proper formats

nconst                 object
primary_name           object
birth_year            float64
death_year            float64
primary_profession     object
known_for_titles       object
dtype: object

In [46]:
# what are our columns?
imdb6.columns

Index(['nconst', 'primary_name', 'birth_year', 'death_year',
       'primary_profession', 'known_for_titles'],
      dtype='object')

In [47]:
# do we have any missing/null values?
imdb6.isnull().sum()
# This dataset has a lot of missing values for birth year, death year, profession, and known for.
# We don't need some of this information, including birth year, profession and known for
# We will keep death year to make sure we don't make any recommendations for cast/crew that is deceased

nconst                     0
primary_name               0
birth_year            523912
death_year            599865
primary_profession     51340
known_for_titles       30204
dtype: int64

### Data Cleanup

In [48]:
# the only info we need on people is if they are alive, so we will drop their year of birth
imdb6.drop(columns=['birth_year'], inplace=True)

# We don't need the specific professions of our players. We can see their role from dataset 5
imdb6.drop(columns=['primary_profession'], inplace=True)

# We're going to use other, more quantifiable metrics of popularity than the known for information
imdb6.drop(columns=['known_for_titles'], inplace=True)

# we will make the unique nconst the index
imdb6.set_index('nconst', inplace=True)

In [49]:
imdb6.head()
imdb6.sort_values('death_year').head()
# now we realize that we can have writers and composers that are long deceased. We are going to keep the death_year column.

                 primary_name  death_year
nconst
nm0653992                Ovid        17.0
nm0613556    Shikibu Murasaki      1031.0
nm0019604     Dante Alighieri      1321.0
nm0090504  Giovanni Boccaccio      1375.0
nm1063158         Cheng'en Wu      1581.0

# Source 2 -  The Numbers
Before we work on this data set, we should check if we can get better/updated data from the source. We followed the Data link at "The Numbers" to https://www.opusdata.com/ and submitted a request for access to their data set. In the meantime we will contine to work with this data set as given.

In [50]:
# import movie budgets dataset from file
thenum = pd.read_csv('zippedData/tn.movie_budgets.csv')

## Exploring the Data

We're going to perform our cleanup analysis on this dataset, including:
    * What is the shape of our imported data?
    * How many data entries?
    * What format is the data in?
    * How can we remove the most obvious redundancies (columns we just don't need, etc)
    * Are there missing/null values in the dataset that will need to be removed or imputed?

In [51]:
# taking a look at what we've imported
thenum.head(30)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"
10,11,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
11,12,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347"
12,13,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115"
13,14,"Mar 9, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100"
14,15,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240"
15,16,"May 4, 2007",Spider-Man 3,"$258,000,000","$336,530,303","$894,860,230"
16,17,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413"
17,18,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281"
18,19,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568"
19,20,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,"$250,000,000","$302,089,278","$935,213,767"
20,21,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855"
21,22,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621"
22,23,"Apr 14, 2017",The Fate of the Furious,"$250,000,000","$225,764,765","$1,234,846,267"
23,24,"Jun 28, 2006",Superman Returns,"$232,000,000","$200,120,000","$374,085,065"
24,25,"May 26, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137"
25,26,"Nov 14, 2008",Quantum of Solace,"$230,000,000","$169,368,427","$591,692,078"
26,27,"May 4, 2012",The Avengers,"$225,000,000","$623,279,547","$1,517,935,897"
27,28,"Jul 7, 2006",Pirates of the Caribbean: Dead Manâs Chest,"$225,000,000","$423,315,812","$1,066,215,812"
28,29,"Jun 14, 2013",Man of Steel,"$225,000,000","$291,045,518","$667,999,518"
29,30,"May 16, 2008",The Chronicles of Narnia: Prince Caspian,"$225,000,000","$141,621,490","$417,341,288"

In [52]:
# what is the shape of our data?
thenum.shape
# this data has 5782 entries

(5782, 6)

In [53]:
# what format is the data stored?
thenum.dtypes
# We have a lot of data format problems here. Everything but the id is stored as an object,
# including the monetary numbers and the date. We will fix these problems during data cleanup.

id                    int64
release_date         object
movie                object
production_budget    object
domestic_gross       object
worldwide_gross      object
dtype: object

In [54]:
# do we have any missing/null values?
thenum.isnull().sum()
# since we know that all of our data is objects, we MAY actually have missing values. We won't be sure until later.
# for now let's look at the tail of the set and see if anything pops out.

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [55]:
thenum.tail()
# we do, in fact, see entries with a $0 for gross. These aren't showing up as null because
# they are actual entries rather than null values. We will need to remove or impute these entries after we convert these cells.

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

## Data Cleanup 

On the movie budgets dataset, we find the following things to clean up and resolve:
    * We have 5782 entries. We'll want to explore how/why movies were included in this dataset, as it's not a very large dataset compared to the number of movies released over time
    * all of the data in this set is objects. A lot of the data is numbers, so we need it to be in a numerical format
    * We have an id column, which can be used as our dataset index
    * Many entries with a $0 for gross. These aren't showing up as null in our initial EDA because they are actual entries of $0 not null values. We will need to remove these entries after we convert these cells.

We're going to clean up this dataset in the following way before moving on:

    1) set the id as the index
    2) convert the release date into a standard datetime
    3) convert all cost/gross fields into integers
    4) use regex to remove as many special characters from titles as possible, in hopes of matching this up with other data later
    5) remove rows without information for budget OR gross, as we won't be able to use this data

In [56]:
# block of cleanup actions performing actions 1-5 listed above

# use regex to remove all non-word characters
for ind in thenum.index:
    text = str(thenum['movie'][ind])
    result = re.sub(r"[,@\'?\.$%_:â()-]", "", text, flags=re.I)
    result = re.sub(r"\s+"," ", result, flags = re.I)
    thenum['movie'][ind] = result

# sets the id as the index, removing a redundant column (former index)
thenum.set_index('id', inplace=True)

# using pandas built-in datetime converter to change our release date column to standard format
thenum['release_date'] = pd.to_datetime(thenum['release_date'])

# write a function to convert the cost/gross object entries into proper numbers that we can use in calculation
def convert_numbers(x):
    '''Takes in a string formatted number that starts with $ and may include commas, and returns that 
    number as a whole integer that can be used in calculations'''
    x = x[1:]
    x = x.replace(',', '')
    x = int(x)
    return x

# run the function on each of our three cost/gross entries
thenum['production_budget'] = thenum['production_budget'].map(lambda x: convert_numbers(x))
thenum['domestic_gross'] = thenum['domestic_gross'].map(lambda x: convert_numbers(x))
thenum['worldwide_gross'] = thenum['worldwide_gross'].map(lambda x: convert_numbers(x))

# add two new columns for domestic net and worldwide net
#thenum['domestic_net'] = thenum['domestic_gross'] - thenum['production_budget']
#thenum['worldwide_net'] = thenum['worldwide_gross'] - thenum['production_budget']

C:\Users\thren\anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [57]:
# check that the data now looks the way we want it
thenum.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,2009-12-18,Avatar,425000000,760507625,2776345279
2,2011-05-20,Pirates of the Caribbean On Stranger Tides,410600000,241063875,1045663875
3,2019-06-07,Dark Phoenix,350000000,42762350,149762350
4,2015-05-01,Avengers Age of Ultron,330600000,459005868,1403013963
5,2017-12-15,Star Wars Ep VIII The Last Jedi,317000000,620181382,1316721747

Now that we have corrected our numbers, we need to address the missing data that we identified before. We also want to figure out how the movies were selected for inclusion on this list, if possible, as it's clearly a small sample of all available released movies.

In [58]:
sum(thenum['production_budget'] == 0)
# all of the movies have a production budget listed. Regardless, we can't get enough info about success without any gross, so
# we'll be dropping the rows that have a gross of 0 for domestic

0

In [59]:
sum(thenum['domestic_gross'] == 0)
# 548 of our entries have no data for domestic_gross. We can't use these in calculations, and we're not going
# to impute them, so we are going to drop these rows from the dataset.

548

In [60]:
thenum = thenum[thenum['domestic_gross'] !=0]
# dropping all rows where there is no domestic gross information
thenum

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,2009-12-18,Avatar,425000000,760507625,2776345279
2,2011-05-20,Pirates of the Caribbean On Stranger Tides,410600000,241063875,1045663875
3,2019-06-07,Dark Phoenix,350000000,42762350,149762350
4,2015-05-01,Avengers Age of Ultron,330600000,459005868,1403013963
5,2017-12-15,Star Wars Ep VIII The Last Jedi,317000000,620181382,1316721747
...,...,...,...,...,...
76,2006-05-26,Cavite,7000,70071,71644
77,2004-12-31,The Mongol King,7000,900,900
79,1999-04-02,Following,6000,48482,240495
80,2005-07-13,Return to the Land of Wonders,5000,1338,1338
82,2005-08-05,My Date With Drew,1100,181041,181041

In [61]:
# set movie as index
thenum.set_index('movie', inplace=True)

In [152]:
# dropping movies that were made before the year 2010 so that we can better match this up with our IMDB dataset for 2010-2019
thenum['before_2010'] = thenum['release_date'] > pd.to_datetime('2010-01-01')
thenum = thenum[thenum['before_2010'] != False]
thenum.drop(columns='before_2010', inplace=True)

C:\Users\thren\anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\thren\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [154]:
thenum.sort_values('release_date')

,release_date,production_budget,domestic_gross,worldwide_gross
movie,,,,
Leap Year,2010-01-08,19000000,25918920,32618920
Youth in Revolt,2010-01-08,18000000,15285588,19685588
Daybreakers,2010-01-08,20000000,30101577,51445503
The Book of Eli,2010-01-15,80000000,94835059,158750817
Fish Tank,2010-01-15,3000000,374675,5922292
...,...,...,...,...
Late Night,2019-06-07,4000000,246305,246305
Dark Phoenix,2019-06-07,350000000,42762350,149762350
The Secret Life of Pets 2,2019-06-07,80000000,63795655,113351496
Men in Black International,2019-06-14,110000000,3100000,3100000
Shaft,2019-06-14,30000000,600000,600000

# Source 4 - Box Office Mojo

Box Office Mojo is part of IMDB pro and does not offer a personal-use API. We started with a provided BOM data set and scraped the Box Office Mojo page to match up the movie titles to IMDB IDs, and to retrieve production budgets when possible. This gives us a more robust data set which can be connected later to our IMDB data sets.

Our notebook Box_Office_Mojo_Web_Scraper.ipynb was used to scrape for the data, and we load our resulting csv.

## Exploring the Data

In [190]:
#Box Office Mojo movie gross
bom = pd.read_csv('api_data/bom_imdb_boxoffice.csv')

In [191]:
bom

,tmdb_id,title,studio,domestic_gross,foreign_gross,year,budget
0,tt0435761,Toy Story 3,BV,415000000.0,652000000,2010,200000000.0
1,tt1014759,Alice in Wonderland (2010),BV,334200000.0,691300000,2010,200000000.0
2,tt0926084,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010,NaN
3,tt1375666,Inception,WB,292600000.0,535700000,2010,160000000.0
4,tt0892791,Shrek Forever After,P/DW,238700000.0,513900000,2010,165000000.0
...,...,...,...,...,...,...,...
3246,tt6776572,Beauty and the Dogs,Osci.,8900.0,NaN,2018,NaN
3247,tt6523720,The Quake,Magn.,6200.0,NaN,2018,NaN
3248,NaN,Edward II (2018 re-release),FM,4800.0,NaN,2018,NaN
3249,tt0093177,El Pacto,Sony,2500.0,NaN,2018,NaN
3250,tt5718046,An Actor Prepares,Grav.,1700.0,NaN,2018,NaN

In [192]:
# what is the shape of our data?
bom.shape
# this dataset has 3251 movie entries

(3251, 7)

In [193]:
# what kind of data is stored?
bom.dtypes
# Most of this data is stored correctly, except foreign_gross. We will have to fix this column

tmdb_id            object
title              object
studio             object
domestic_gross    float64
foreign_gross      object
year                int64
budget            float64
dtype: object

In [194]:
# do we have any missing/null values?
bom.isnull().sum()
# This dataset is missing a few tmdb_ids, which is how we will connect this data to our IMDB dataset later. We'll drop these rows.

tmdb_id             76
title                0
studio               0
domestic_gross       0
foreign_gross     1289
year                 0
budget            2147
dtype: int64

In [195]:
round(bom.describe(), 2)
# One useful bit of info we get is that the earliest movie on this list is from 2010, and the latest is from 2018

       domestic_gross     year        budget
count    3.251000e+03  3251.00  1.104000e+03
mean     2.967050e+07  2013.97  5.607219e+07
std      6.788942e+07     2.47  5.521979e+07
min      1.000000e+02  2010.00  1.000000e+05
25%      1.280000e+05  2012.00  1.700000e+07
50%      1.500000e+06  2014.00  3.500000e+07
75%      3.035000e+07  2016.00  7.500000e+07
max      9.367000e+08  2018.00  3.170000e+08

In [196]:
bom.sort_values('domestic_gross', ascending=False).head(30)
# The foreign_gross column needs to be fixed and turned into a float. Right now it is an object and does not sort properly.
# values over 1bil are stored as 4 digit numbers, which skews our information.

,tmdb_id,title,studio,domestic_gross,foreign_gross,year,budget
1793,tt2488496,Star Wars: The Force Awakens,BV,936700000.0,"1,131.6",2015,245000000.0
2956,tt1825683,Black Panther,BV,700100000.0,646900000,2018,NaN
2955,tt4154756,Avengers: Infinity War,BV,678800000.0,"1,369.5",2018,NaN
1794,tt0369610,Jurassic World,Uni.,652300000.0,"1,019.4",2015,150000000.0
690,tt0848228,Marvel's The Avengers,BV,623400000.0,895500000,2012,220000000.0
2647,tt2527336,Star Wars: The Last Jedi,BV,620200000.0,712400000,2017,317000000.0
2958,tt3606756,Incredibles 2,BV,608600000.0,634200000,2018,NaN
2227,tt3748528,Rogue One: A Star Wars Story,BV,532200000.0,523900000,2016,200000000.0
2648,tt2771200,Beauty and the Beast (2017),BV,504000000.0,759500000,2017,160000000.0
2228,tt2277860,Finding Dory,BV,486300000.0,542300000,2016,NaN
1796,tt2395427,Avengers: Age of Ultron,BV,459000000.0,946400000,2015,250000000.0
692,tt1345836,The Dark Knight Rises,WB,448100000.0,636800000,2012,250000000.0
1081,tt1951264,The Hunger Games: Catching Fire,LGF,424700000.0,440300000,2013,130000000.0
2957,tt4881806,Jurassic World: Fallen Kingdom,Uni.,417700000.0,891800000,2018,170000000.0
0,tt0435761,Toy Story 3,BV,415000000.0,652000000,2010,200000000.0
2655,tt0451279,Wonder Woman,WB,412600000.0,409300000,2017,149000000.0
1078,tt1300854,Iron Man 3,BV,409000000.0,805800000,2013,200000000.0
2226,tt3498820,Captain America: Civil War,BV,408100000.0,745200000,2016,250000000.0
698,tt1392170,The Hunger Games,LGF,408000000.0,286400000,2012,78000000.0
2651,tt2283362,Jumanji: Welcome to the Jungle,Sony,404500000.0,557600000,2017,90000000.0
1077,tt2294629,Frozen,BV,400700000.0,875700000,2013,150000000.0
2653,tt3896198,Guardians of the Galaxy Vol. 2,BV,389800000.0,473900000,2017,200000000.0
306,tt1201607,Harry Potter and the Deathly Hallows Part 2,WB,381000000.0,960500000,2011,NaN
2231,tt2709768,The Secret Life of Pets,Uni.,368400000.0,507100000,2016,75000000.0
1079,tt1690953,Despicable Me 2,Uni.,368100000.0,602700000,2013,76000000.0
2230,tt3040964,The Jungle Book (2016),BV,364000000.0,602500000,2016,175000000.0
2234,tt1431045,Deadpool,Fox,363100000.0,420000000,2016,58000000.0
1799,tt2096673,Inside Out,BV,356500000.0,501100000,2015,175000000.0
1795,tt2820852,Furious 7,Uni.,353000000.0,"1,163.0",2015,190000000.0
307,tt1399103,Transformers: Dark of the Moon,P/DW,352400000.0,771400000,2011,195000000.0

In [197]:
bom.sort_values('domestic_gross').head(30)
# some of these domestic gross numbers are quite suspicious, especially when their associated budgets are quite different.
# we recall that the budget column came from our web scraper. The gross columns came with this data set.

,tmdb_id,title,studio,domestic_gross,foreign_gross,year,budget
1415,tt1986953,Storage 24,Magn.,100.0,NaN,2013,NaN
2646,tt0078767,Satanic,Magn.,300.0,NaN,2016,NaN
2645,tt5038358,News From Planet Mars,KL,300.0,NaN,2016,NaN
2225,tt0252076,The Chambermaid,FM,300.0,NaN,2015,55000000.0
973,tt1757742,Apartment 143,Magn.,400.0,426000,2012,NaN
2954,tt1131724,2:22,Magn.,400.0,NaN,2017,NaN
2953,tt3369806,Max & Leon,Distrib.,500.0,NaN,2017,20000000.0
1076,tt1384927,Death of a Superhero,Trib.,600.0,NaN,2012,NaN
2223,tt2167715,It's All So Quiet (Boven is het stil),BWP,700.0,NaN,2015,NaN
2224,tt1289783,Tough Being Loved By Jerks,KL,700.0,NaN,2015,NaN
1414,tt1876277,Into the White,Magn.,700.0,NaN,2013,NaN
2644,tt4428762,Down By Love,Distrib.,700.0,NaN,2016,NaN
2804,tt1935897,Amityville: The Awakening,W/Dim.,700.0,7700000,2017,NaN
611,tt2233240,Illegal (2011),FM,700.0,289000,2011,NaN
2643,tt4948452,The Student and Mr. Henri,Distrib.,800.0,NaN,2016,NaN
279,tt1003034,Perrier's Bounty,IFC,800.0,167000,2010,NaN
2222,tt1649443,REC 4: Apocalypse,Magn.,800.0,NaN,2015,NaN
1075,tt1657299,The Decoy Bride,IFC,800.0,NaN,2012,NaN
2642,tt3324494,Next Time I'll Aim for the Heart,Distrib.,800.0,NaN,2016,NaN
1413,tt2537176,I Spit on Your Grave 2,Anch.,800.0,NaN,2013,NaN
2221,NaN,Thanks to My Friends,Distrib.,900.0,NaN,2015,NaN
1228,tt2538654,Billy and Buddy,Distrib.,900.0,15200000,2013,NaN
1209,tt1487931,Khumba,MNE,1000.0,27200000,2013,NaN
1412,tt2259360,Caught in the Web,Vita.,1100.0,NaN,2013,NaN
2220,tt1641841,Skin Trade,Magn.,1200.0,NaN,2015,NaN
689,tt1212454,An Invisible Sign,IFC,1300.0,NaN,2011,NaN
3141,tt5179598,Billionaire Boy's Club,VE,1300.0,2500000,2018,NaN
619,tt1426371,Little Girl (La Pivellina),FRun,1400.0,236000,2011,NaN
3096,tt5886440,Marrowbone,Magn.,1400.0,12300000,2018,NaN
3148,tt2160105,I Still See You,LGF,1400.0,1500000,2018,NaN

## ERRORS - Broken Data

We check manually on one specific entry to validate our data - IMDB ID tt0252076 for "The Chambermaid". Visiting https://www.boxofficemojo.com/title/tt0252076/ we see that the movie is "Maid in Manhattan. Is that the movie that our scraper intended to find?

What we actually find is that our scraper was unsuccesful, and that it wrongly chose to follow the "Maid in Manhattan" entry when searching for "The Chambermaid", as shown here on the search page, where we searched for The Chambermaid but Maid in Manhattan was presented as the first return and subsequently followed: https://www.boxofficemojo.com/search/?q=The+Chambermaid

It should have followed the link to the actual movie "The Chambermaid": https://www.boxofficemojo.com/title/tt8331988/?ref_=bo_se_r_2

Worth noting that the domestic and foreign gross numbers provided for our correct "The Chambermaid" movie are still wrong. We may want to take an entirely different approach to getting this information.

We also check out our entry for "Max & Leon". Our IMDB id of tt3369806 leads us to a movie called Max. https://www.boxofficemojo.com/title/tt3369806/?ref_=bo_se_r_2
The scraper should have gone to the French language film, https://www.boxofficemojo.com/title/tt5091538/?ref_=bo_se_r_1
Worth noting that our domestic box office is correct for this one, but our foreign box office is not, and we did not enter that number!

Overall, the quality of the entire BOM data set is called into question now, and not solely from our web scraper errors. Some of the provided data (domestic and foreign gross) is incorrect or missing. We may have a better time using our IMDB ids from our IMDB data set to scrape for the box office numbers directly, instead of using this data set.

### Data Cleanup

We performed some of our data cleanup during our web scrape, but we'll be doing these additional tasks:

    * Set our IMDB ID as the index so we can join on this field later
    * Eliminate any rows where we could not find an IMDB ID
    * Remove the title column, as we'll use the title column from our IMDB data set when we join this one in
    * Remove the year column, as we'll use the year column from our IMDB data set when we join this one in
    * Turn our foreign_gross column into an integer

In [198]:
# Converting the foreign_gross field into an integer
for ind in bom.index:
    if ',' in str(bom['foreign_gross'][ind]):
        text = str(bom['foreign_gross'][ind])
        result = re.sub(r"[,@\'?\.$%_:â()-]", "", text, flags=re.I)
        result = re.sub(r"\s+"," ", result, flags = re.I)
        result = result + '00000'
        bom['foreign_gross'][ind] = int(result)
    else:
        continue

C:\Users\thren\anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [199]:
# Turn all of the null values on the foreign gross into 0
bom.loc[bom['foreign_gross'].isnull(), 'foreign_gross'] = 0

In [200]:
# make sure all entries in the foreign_gross column are integers
bom['foreign_gross'] = bom['foreign_gross'].astype(int)

In [201]:
#checking that our foreign_gross is repaired
bom.sort_values('domestic_gross', ascending=False).head(30)

,tmdb_id,title,studio,domestic_gross,foreign_gross,year,budget
1793,tt2488496,Star Wars: The Force Awakens,BV,936700000.0,1131600000,2015,245000000.0
2956,tt1825683,Black Panther,BV,700100000.0,646900000,2018,NaN
2955,tt4154756,Avengers: Infinity War,BV,678800000.0,1369500000,2018,NaN
1794,tt0369610,Jurassic World,Uni.,652300000.0,1019400000,2015,150000000.0
690,tt0848228,Marvel's The Avengers,BV,623400000.0,895500000,2012,220000000.0
2647,tt2527336,Star Wars: The Last Jedi,BV,620200000.0,712400000,2017,317000000.0
2958,tt3606756,Incredibles 2,BV,608600000.0,634200000,2018,NaN
2227,tt3748528,Rogue One: A Star Wars Story,BV,532200000.0,523900000,2016,200000000.0
2648,tt2771200,Beauty and the Beast (2017),BV,504000000.0,759500000,2017,160000000.0
2228,tt2277860,Finding Dory,BV,486300000.0,542300000,2016,NaN
1796,tt2395427,Avengers: Age of Ultron,BV,459000000.0,946400000,2015,250000000.0
692,tt1345836,The Dark Knight Rises,WB,448100000.0,636800000,2012,250000000.0
1081,tt1951264,The Hunger Games: Catching Fire,LGF,424700000.0,440300000,2013,130000000.0
2957,tt4881806,Jurassic World: Fallen Kingdom,Uni.,417700000.0,891800000,2018,170000000.0
0,tt0435761,Toy Story 3,BV,415000000.0,652000000,2010,200000000.0
2655,tt0451279,Wonder Woman,WB,412600000.0,409300000,2017,149000000.0
1078,tt1300854,Iron Man 3,BV,409000000.0,805800000,2013,200000000.0
2226,tt3498820,Captain America: Civil War,BV,408100000.0,745200000,2016,250000000.0
698,tt1392170,The Hunger Games,LGF,408000000.0,286400000,2012,78000000.0
2651,tt2283362,Jumanji: Welcome to the Jungle,Sony,404500000.0,557600000,2017,90000000.0
1077,tt2294629,Frozen,BV,400700000.0,875700000,2013,150000000.0
2653,tt3896198,Guardians of the Galaxy Vol. 2,BV,389800000.0,473900000,2017,200000000.0
306,tt1201607,Harry Potter and the Deathly Hallows Part 2,WB,381000000.0,960500000,2011,NaN
2231,tt2709768,The Secret Life of Pets,Uni.,368400000.0,507100000,2016,75000000.0
1079,tt1690953,Despicable Me 2,Uni.,368100000.0,602700000,2013,76000000.0
2230,tt3040964,The Jungle Book (2016),BV,364000000.0,602500000,2016,175000000.0
2234,tt1431045,Deadpool,Fox,363100000.0,420000000,2016,58000000.0
1799,tt2096673,Inside Out,BV,356500000.0,501100000,2015,175000000.0
1795,tt2820852,Furious 7,Uni.,353000000.0,1163000000,2015,190000000.0
307,tt1399103,Transformers: Dark of the Moon,P/DW,352400000.0,771400000,2011,195000000.0

In [202]:
# dropping the title and year columns
bom.drop(columns=['title', 'year'], inplace=True)

In [203]:
# dropping any rows where we didn't find an imdb id
bom = bom[bom['tmdb_id'].notna()]

In [204]:
# set the imdb id as the index (mistakenly named tmdb_id)
bom.set_index('tmdb_id', inplace=True)

In [205]:
bom

            studio  domestic_gross  foreign_gross       budget
tmdb_id
tt0435761       BV     415000000.0      652000000  200000000.0
tt1014759       BV     334200000.0      691300000  200000000.0
tt0926084       WB     296000000.0      664300000          NaN
tt1375666       WB     292600000.0      535700000  160000000.0
tt0892791     P/DW     238700000.0      513900000  165000000.0
...            ...             ...            ...          ...
tt6054874  CARUSEL         10000.0              0          NaN
tt6776572    Osci.          8900.0              0          NaN
tt6523720    Magn.          6200.0              0          NaN
tt0093177     Sony          2500.0              0          NaN
tt5718046    Grav.          1700.0              0          NaN

[3175 rows x 4 columns]

# Source 5 - Rotten Tomatoes

## Exploring the Data

In [108]:
rt1 = pd.read_csv('zippedData/rt.reviews.tsv', sep='\t', encoding='Latin-1')
rt1.tail()

#It's immediately apparent that these are the posted reviews for movies on rotten tomatoes, using the id of the movie

,id,review,rating,fresh,critic,top_critic,publisher,date
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

In [109]:
rt2 = pd.read_csv('zippedData/rt.movie_info.tsv', sep='\t', encoding='Latin-1')
rt2.tail()

# this is the information on the movies, by id. But it doesn't include the movie name!!

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

After checking out the Rotten Tomatoes/Fandango API usage, we see that they do not grant API access to individuals. We will have to scrape for more data if we want to use this data. right now, we have no idea what the names of the movies are.

# Data Summary and Joins

After our initial data pulls and cleanup, we have the following data sets to use:


    thenum - Box office numbers with 'movie' by name as the unique key

    tmdb_discover - TMDB movie information, join 'id' on imdb data's 'tconst'

    tmdb_genres - can be joined into tmdb_discover on id

    bom - Box Office Mojo box office numbers, join 'imdb_id' on 'tconst'

    imdb1 - NOT USE further. IMDB User ratings and votes for each movie id. We already integrated this into imdb4.

    imdb2 - IMDB Cast and crew for each movie id. Join on movie id tconst and/or person id nconst

    imdb3 - NOT USE. Redundant information with imdb2.

    imdb4 - IMDB Movie title, year, runtime and genre for each movie id. Join on movie id (tconst).

    imdb5 - NOT USE. Alternate titles.

    imdb6 - IMDB Cast and crew info. Join on nconst.
    
    rt1 - NOT USE. Rotten Tomatoes movie reviews with an ID identifiter
    
    rt2 - NOT USE. Rotton Tomatoes movie stats, but no movie name

## Data Join Plan

We will combine our various data sets into a smaller number of data-rich sets that we'll use for our EDA

   ##### master_movies = imdb4 + tmdb_discover + bom + thenum
        This dataset will reference movies by IMDB ID and have the average ratings, vote counts, studio, and financials where available
        The sets will be left joined on IMDB ID with imdb4 as the base
        thenum will be joined on movie title, discarding anything from thnum that we cannot match up
   ##### imdb_crew = imdb2 + imdb6
        This dataset will reference cast/crew members by their unique id, as well as specify IMDB IDs that they have worked on, and the job they performed
   ##### votes = master_movies prioritizing vote columns
        This dataset will focus on studying a movie's user ratings and reviews
   ##### financials = master_movies + thenum, dropping rows without financials
        This dataset will allow us to compare all financials and ratings together
        We'll be joining in the thenum data set by trying to compare movie titles

## Dataframe Join - master_movies
imdb1 + imdb4 + bom + tmdb_movies (movie stats + user ratings and votes + 2nd movie stats)

In [262]:
# We are joining our imdb4 with bom and tmdb_discover on the tconst which is the movie id
first_join = imdb4.join([bom, tmdb_discover])
first_join

# We are using imdb4 which is our primary movie set as the basis for the join. We want all records from this dataset,
# and any of records from the other datasets which match.

,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,domestic_gross,foreign_gross,budget,popularity,vote_count,vote_average,release_date
tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt0069049,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0,NaN,NaN,NaN,NaN,9.674,106.0,6.8,2018-11-02
tt0069204,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt0111414,A Thin Life,2018,75.0,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt0112502,Bigfoot,2017,NaN,"Horror,Thriller",4.1,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9916538,Kuambil Lagi Hatiku,2019,123.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt9916622,Rodolpho Teóphilo O Legado de um Pioneiro,2015,NaN,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt9916706,Dankyavar Danka,2013,NaN,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt9916730,6 Gunn,2017,116.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt9916754,Chico Albuquerque Revelações,2013,NaN,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [263]:
# Now we are bringing in our thenum data set, attempting to join on title string. We're dropping entries from
# thenum where we cannot make a match
master_movies = first_join.join(thenum, on='primary_title', how='left', rsuffix='r')

In [264]:
master_movies

,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,domestic_gross,foreign_gross,budget,popularity,vote_count,vote_average,release_date,release_dater,production_budget,domestic_grossr,worldwide_gross
tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
tt0069049,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0,NaN,NaN,NaN,NaN,9.674,106.0,6.8,2018-11-02,NaT,NaN,NaN,NaN
tt0069204,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
tt0111414,A Thin Life,2018,75.0,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
tt0112502,Bigfoot,2017,NaN,"Horror,Thriller",4.1,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9916538,Kuambil Lagi Hatiku,2019,123.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
tt9916622,Rodolpho Teóphilo O Legado de um Pioneiro,2015,NaN,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
tt9916706,Dankyavar Danka,2013,NaN,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
tt9916730,6 Gunn,2017,116.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
tt9916754,Chico Albuquerque Revelações,2013,NaN,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

### Data Cleanup

We have a lot of columns now and a lot of cleanup work to do!

In [267]:
master_movies.sort_values('numvotes', ascending=False)
# We now have 21,754 entries

,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,domestic_gross,foreign_gross,budget,popularity,vote_count,vote_average,release_date,release_dater,production_budget,domestic_grossr,worldwide_gross
tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066.0,WB,292600000.0,535700000.0,160000000.0,54.781,27499.0,8.3,2010-07-15,2010-07-16,160000000.0,292576195.0,8.355246e+08
tt1345836,The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,1387769.0,WB,448100000.0,636800000.0,250000000.0,48.514,16841.0,7.7,2012-07-16,2012-07-20,275000000.0,448139099.0,1.084439e+09
tt0816692,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",8.6,1299334.0,Par.,188000000.0,489400000.0,165000000.0,93.257,24086.0,8.3,2014-11-05,2014-11-05,165000000.0,188017894.0,6.663794e+08
tt1853728,Django Unchained,2012,165.0,"Drama,Western",8.4,1211405.0,Wein.,162800000.0,262600000.0,100000000.0,42.519,19357.0,8.1,2012-12-25,2012-12-25,100000000.0,162805434.0,4.499483e+08
tt0848228,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",8.1,1183655.0,BV,623400000.0,895500000.0,220000000.0,96.039,23379.0,7.7,2012-04-25,2012-05-04,225000000.0,623279547.0,1.517936e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt3132718,Israel The Royal Tour,2014,60.0,Documentary,6.6,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
tt1887796,Like Al,2011,55.0,"Action,Crime,Drama",4.9,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
tt4255252,Female Werewolf,2015,65.0,Horror,2.1,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
tt5295664,Soukhyam,2015,142.0,"Action,Romance",3.8,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
tt3772198,Her Name Was Torment,2014,50.0,Horror,5.8,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

We have several different ratings columns, several different budget/gross columns, and several different release date columns. We're going to get this all cleaned up.

In [268]:
# We make a new column that takes the average rating of our two rating entries. This ignores any NaN and won't use them
# in the resulting calculation
master_movies['rating'] = master_movies[['averagerating', 'vote_average']].mean(axis=1)

In [269]:
# We make a new column that takes the sum of our two vote counts. This ignores any NaN and won't use them
# in the resulting calculation
master_movies['total_votes'] = master_movies[['numvotes', 'vote_count']].sum(axis=1)

In [270]:
# We now want to clean up the extra columns that we reassigned. We're dropping the individual rating and vote count columns
# from our different dataframes that we just used to create new columns
master_movies.drop(columns=['averagerating', 'numvotes', 'vote_count', 'vote_average'], inplace=True)

In [271]:
round(master_movies.describe(), 0)

,start_year,runtime_minutes,domestic_gross,foreign_gross,budget,popularity,production_budget,domestic_grossr,worldwide_gross,rating,total_votes
count,21754.0,21098.0,2315.0,2.315000e+03,1008.0,4856.0,1633.0,1633.0,1.633000e+03,21754.0,21754.0
mean,2014.0,101.0,39021892.0,5.881952e+07,57217063.0,17.0,45557999.0,57676472.0,1.442812e+08,6.0,11685.0
std,3.0,25.0,74976937.0,1.339188e+08,54764052.0,24.0,55210127.0,82739241.0,2.281449e+08,1.0,56737.0
min,2010.0,12.0,100.0,0.000000e+00,100000.0,1.0,9000.0,388.0,5.280000e+02,1.0,100.0
25%,2012.0,87.0,383000.0,0.000000e+00,19075000.0,8.0,9400000.0,5802208.0,1.275880e+07,5.0,199.0
50%,2014.0,95.0,7000000.0,5.200000e+06,37500000.0,11.0,25000000.0,30569935.0,5.727305e+07,6.0,465.0
75%,2017.0,109.0,45200000.0,4.695000e+07,79250000.0,18.0,59000000.0,71399120.0,1.657209e+08,7.0,1872.0
max,2019.0,1440.0,936700000.0,1.369500e+09,275000000.0,823.0,410600000.0,700059566.0,2.048134e+09,10.0,1868565.0

In [272]:
master_movies.columns

Index(['primary_title', 'start_year', 'runtime_minutes', 'genres', 'studio',
       'domestic_gross', 'foreign_gross', 'budget', 'popularity',
       'release_date', 'release_dater', 'production_budget', 'domestic_grossr',
       'worldwide_gross', 'rating', 'total_votes'],
      dtype='object')

In [273]:
# I want like columns next to each other, so I'm going to reorganize a little here
master_movies = master_movies[['primary_title', 'genres', 'studio', 'runtime_minutes', 'popularity', 'rating', 'total_votes', 'start_year', 'release_date', 'release_dater', 'budget', 'production_budget', 'domestic_gross', 'domestic_grossr', 'foreign_gross', 'worldwide_gross' ]]

In [274]:
master_movies

,primary_title,genres,studio,runtime_minutes,popularity,rating,total_votes,start_year,release_date,release_dater,budget,production_budget,domestic_gross,domestic_grossr,foreign_gross,worldwide_gross
tt0069049,The Other Side of the Wind,Drama,NaN,122.0,9.674,6.85,4623.0,2018,2018-11-02,NaT,NaN,NaN,NaN,NaN,NaN,NaN
tt0137204,Joe Finds Grace,"Adventure,Animation,Comedy",NaN,83.0,NaN,8.10,263.0,2017,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
tt0146592,Pál Adrienn,Drama,NaN,136.0,NaN,6.80,451.0,2010,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
tt0249516,Foodfight!,"Action,Animation,Comedy",NaN,91.0,8.267,1.85,8330.0,2012,2012-06-15,NaT,NaN,NaN,NaN,NaN,NaN,NaN
tt0250404,Godfather,"Crime,Drama",NaN,NaN,NaN,6.70,236.0,2012,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9904844,Ott Tänak The Movie,Documentary,NaN,125.0,NaN,8.70,218.0,2019,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
tt9905412,Ottam,Drama,NaN,120.0,NaN,8.10,505.0,2019,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
tt9905462,Pengalila,Drama,NaN,111.0,NaN,8.40,600.0,2019,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
tt9911774,Padmavyuhathile Abhimanyu,Drama,NaN,130.0,NaN,8.40,365.0,2019,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
tt9914286,Sokagin Çocuklari,"Drama,Family",NaN,98.0,NaN,8.70,136.0,2019,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [275]:
#exporting the dataframe to a csv
master_movies.to_csv('api_data/imdb_masterlist.csv')

## Dataframe Join - imdb_crew

imdb2 to imdb6 - Movie cast/crew assignments + cast/crew info

In [122]:
# we are joining our imdb2 and imdb6 to move the cast and crew names with where they have performed

imdb_crew = imdb2.join(imdb6, on='nconst', how='inner')
# we lost a few hundred entries (out of over a million) for people listed in IMDB who have never worked on a movie

imdb_crew

            tconst      nconst  category           primary_name  death_year
0        tt0111414   nm0246005     actor           Tommy Dysart         NaN
1        tt0111414   nm0398271  director           Frank Howson         NaN
763031   tt5573596   nm0398271  director           Frank Howson         NaN
2        tt0111414   nm3739909  producer  Barry Porter-Robinson         NaN
3        tt0323808   nm0059247    editor            Sean Barton         NaN
...            ...         ...       ...                    ...         ...
1028178  tt9689618  nm10439724     actor       Phillippe Warner         NaN
1028180  tt9689618  nm10439725  director           Xavi Herrero         NaN
1028183  tt9692684  nm10441594  director              Guy Jones         NaN
1028184  tt9692684   nm6009913    writer        Sabrina Mahfouz         NaN
1028185  tt9692684  nm10441595  producer             Simmer Dim         NaN

[1027912 rows x 5 columns]

## Dataframe Join - votes

In [123]:
votes = master_movies

In [124]:
votes = votes.drop(columns=['runtime_minutes', 'studio', 'domestic_gross', 'foreign_gross', 'budget', 'domestic_net', 'worldwide_net'])

In [125]:
votes

,primary_title,start_year,genres,popularity,release_date,rating,total_votes
tt0063540,Sunghursh,2013,"Action,Crime,Drama",NaN,NaN,7.00,77.0
tt0069049,The Other Side of the Wind,2018,Drama,9.674,2018-11-02,6.85,4623.0
tt0112502,Bigfoot,2017,"Horror,Thriller",NaN,NaN,4.10,32.0
tt0137204,Joe Finds Grace,2017,"Adventure,Animation,Comedy",NaN,NaN,8.10,263.0
tt0146592,Pál Adrienn,2010,Drama,NaN,NaN,6.80,451.0
...,...,...,...,...,...,...,...
tt9904844,Ott Tänak The Movie,2019,Documentary,NaN,NaN,8.70,218.0
tt9905412,Ottam,2019,Drama,NaN,NaN,8.10,505.0
tt9905462,Pengalila,2019,Drama,NaN,NaN,8.40,600.0
tt9911774,Padmavyuhathile Abhimanyu,2019,Drama,NaN,NaN,8.40,365.0
tt9914286,Sokagin Çocuklari,2019,"Drama,Family",NaN,NaN,8.70,136.0

# TO DO

We need to change up our tmdb dataset, even though it means re-running our API page. The IMDB data is only for the last 10 years, so we should pull consistent data from TMDB to match it.

# CURRENTLY INVALID

In [261]:
break

SyntaxError: 'break' outside loop (<ipython-input-261-6aaf1f276005>, line 4)

## from master_movies cleanup

In [ ]:
# We make a new column for the foreign net net for the movie
master_movies['worldwide_net'] = (master_movies['foreign_gross'] - master_movies['budget'])

In [118]:
# We make a new column for the foreign net net for the movie
master_movies['worldwide_net'] = (master_movies['foreign_gross'] - master_movies['budget'])

In [120]:
master_movies.sort_values('domestic_gross', ascending=False).head(10)

,primary_title,start_year,runtime_minutes,genres,studio,domestic_gross,foreign_gross,budget,popularity,release_date,rating,total_votes,domestic_net,worldwide_net
tt2488496,Star Wars Episode VII The Force Awakens,2015,136.0,"Action,Adventure,Fantasy",BV,936700000.0,1.131600e+09,245000000.0,56.758,2015-12-15,7.70,799848.0,691700000.0,886600000.0
tt1825683,Black Panther,2018,134.0,"Action,Adventure,Sci-Fi",BV,700100000.0,6.469000e+08,NaN,113.701,2018-02-13,7.35,532382.0,NaN,NaN
tt4154756,Avengers Infinity War,2018,149.0,"Action,Adventure,Sci-Fi",BV,678800000.0,1.369500e+09,NaN,202.211,2018-04-25,8.40,690975.0,NaN,NaN
tt0369610,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",Uni.,652300000.0,1.019400e+09,150000000.0,81.881,2015-06-06,6.80,555491.0,502300000.0,869400000.0
tt0848228,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",BV,623400000.0,8.955000e+08,220000000.0,96.039,2012-04-25,7.90,1207034.0,403400000.0,675500000.0
tt3606756,Incredibles 2,2018,118.0,"Action,Adventure,Animation",BV,608600000.0,6.342000e+08,NaN,97.218,2018-06-14,7.60,212766.0,NaN,NaN
tt2771200,Beauty and the Beast,2017,129.0,"Family,Fantasy,Musical",BV,504000000.0,7.595000e+08,160000000.0,59.990,2017-03-16,7.10,251236.0,344000000.0,599500000.0
tt2277860,Finding Dory,2016,97.0,"Adventure,Animation,Comedy",BV,486300000.0,5.423000e+08,NaN,35.074,2016-06-16,7.15,222940.0,NaN,NaN
tt2395427,Avengers Age of Ultron,2015,141.0,"Action,Adventure,Sci-Fi",BV,459000000.0,9.464000e+08,250000000.0,79.883,2015-04-22,7.30,682324.0,209000000.0,696400000.0
tt1345836,The Dark Knight Rises,2012,164.0,"Action,Thriller",WB,448100000.0,6.368000e+08,250000000.0,48.514,2012-07-16,8.05,1404610.0,198100000.0,386800000.0

In [ ]:
v

## Dataframe Join - financials

In [126]:
financials = master_movies.join(thenum, on='primary_title', how='left', rsuffix='r')

In [127]:
financials

,primary_title,start_year,runtime_minutes,genres,studio,domestic_gross,foreign_gross,budget,popularity,release_date,rating,total_votes,domestic_net,worldwide_net,release_dater,production_budget,domestic_grossr,worldwide_gross
tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",NaN,NaN,NaN,NaN,NaN,NaN,7.00,77.0,NaN,NaN,NaT,NaN,NaN,NaN
tt0069049,The Other Side of the Wind,2018,122.0,Drama,NaN,NaN,NaN,NaN,9.674,2018-11-02,6.85,4623.0,NaN,NaN,NaT,NaN,NaN,NaN
tt0112502,Bigfoot,2017,NaN,"Horror,Thriller",NaN,NaN,NaN,NaN,NaN,NaN,4.10,32.0,NaN,NaN,NaT,NaN,NaN,NaN
tt0137204,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",NaN,NaN,NaN,NaN,NaN,NaN,8.10,263.0,NaN,NaN,NaT,NaN,NaN,NaN
tt0146592,Pál Adrienn,2010,136.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,6.80,451.0,NaN,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9904844,Ott Tänak The Movie,2019,125.0,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,8.70,218.0,NaN,NaN,NaT,NaN,NaN,NaN
tt9905412,Ottam,2019,120.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,8.10,505.0,NaN,NaN,NaT,NaN,NaN,NaN
tt9905462,Pengalila,2019,111.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,8.40,600.0,NaN,NaN,NaT,NaN,NaN,NaN
tt9911774,Padmavyuhathile Abhimanyu,2019,130.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,8.40,365.0,NaN,NaN,NaT,NaN,NaN,NaN
tt9914286,Sokagin Çocuklari,2019,98.0,"Drama,Family",NaN,NaN,NaN,NaN,NaN,NaN,8.70,136.0,NaN,NaN,NaT,NaN,NaN,NaN

In [128]:
financials = financials[financials['domestic_gross'].notna()]

In [129]:
financials

,primary_title,start_year,runtime_minutes,genres,studio,domestic_gross,foreign_gross,budget,popularity,release_date,rating,total_votes,domestic_net,worldwide_net,release_dater,production_budget,domestic_grossr,worldwide_gross
tt0315642,Wazir,2016,103.0,"Action,Crime,Drama",Relbig.,1100000.0,0.000000e+00,NaN,NaN,NaN,7.10,15378.0,NaN,NaN,NaT,NaN,NaN,NaN
tt0337692,On the Road,2012,124.0,"Adventure,Drama,Romance",IFC,744000.0,8.000000e+06,NaN,9.534,2012-05-22,5.85,38519.0,NaN,NaN,2013-03-22,25000000.0,720828.0,9.313302e+06
tt0359950,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",Fox,58200000.0,1.299000e+08,90000000.0,17.639,2013-12-18,7.20,281064.0,-31800000.0,39900000.0,2013-12-25,91000000.0,58236838.0,1.878612e+08
tt0365907,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",Uni.,26300000.0,2.690000e+07,28000000.0,29.778,2014-09-18,6.40,107152.0,-1700000.0,-1100000.0,2014-09-19,28000000.0,26017685.0,6.210859e+07
tt0369610,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",Uni.,652300000.0,1.019400e+09,150000000.0,81.881,2015-06-06,6.80,555491.0,502300000.0,869400000.0,2015-06-12,215000000.0,652270625.0,1.648855e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt7958736,Ma,2019,99.0,"Horror,Thriller",Uni.,71600000.0,7.480000e+07,5000000.0,24.063,2019-05-29,5.90,6544.0,66600000.0,69800000.0,NaT,NaN,NaN,NaN
tt7959026,The Mule,2018,116.0,"Crime,Drama,Thriller",WB,103800000.0,6.870000e+07,50000000.0,20.976,2018-12-14,6.90,62102.0,53800000.0,18700000.0,2018-12-14,50000000.0,103804407.0,1.708577e+08
tt8097306,Nobodys Fool,2018,110.0,"Comedy,Drama,Romance",Par.,31700000.0,1.800000e+06,19000000.0,13.781,2018-10-31,5.40,3821.0,12700000.0,-17200000.0,2018-11-02,19000000.0,31713110.0,3.258949e+07
tt8108198,Andhadhun,2018,139.0,"Crime,Thriller",Eros,1200000.0,0.000000e+00,NaN,NaN,NaN,8.50,43409.0,NaN,NaN,NaT,NaN,NaN,NaN
tt8427036,Helicopter Eela,2018,135.0,Drama,Eros,72000.0,0.000000e+00,NaN,NaN,NaN,5.40,673.0,NaN,NaN,NaT,NaN,NaN,NaN

In [130]:
financials['prod_budget'] = ''
financials['dom_gross'] = ''
financials['world_gross'] = ''

C:\Users\thren\anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\thren\anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\thren\anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [131]:
# We make a new column that takes the average rating of our two rating entries. This ignores any NaN and won't use them
# in the resulting calculation
financials['dom_gross'] = financials[['domestic_gross', 'domestic_grossr']].mean(axis=1)

C:\Users\thren\anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [132]:
# We make a new column that takes the average rating of our two rating entries. This ignores any NaN and won't use them
# in the resulting calculation
financials['world_gross'] = financials[['foreign_gross', 'worldwide_gross']].mean(axis=1)

C:\Users\thren\anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [133]:
# We make a new column that takes the average rating of our two rating entries. This ignores any NaN and won't use them
# in the resulting calculation
financials['prod_budget'] = financials[['budget', 'production_budget']].mean(axis=1)

C:\Users\thren\anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [134]:
# We make a new column for the domestic net for the movie
financials['domestic_net'] = (financials['dom_gross'] - financials['prod_budget'])

C:\Users\thren\anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [135]:
# We make a new column for the domestic net for the movie
financials['worldwide_net'] = (financials['world_gross'] - financials['prod_budget'])

C:\Users\thren\anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [136]:
financials.drop(columns=['domestic_gross', 'foreign_gross', 'domestic_net', 'worldwide_net', 'budget', 'production_budget', 'domestic_grossr', 'worldwide_gross', 'release_date'], inplace=True)

C:\Users\thren\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [137]:
financials

,primary_title,start_year,runtime_minutes,genres,studio,popularity,rating,total_votes,release_dater,prod_budget,dom_gross,world_gross
tt0315642,Wazir,2016,103.0,"Action,Crime,Drama",Relbig.,NaN,7.10,15378.0,NaT,NaN,1100000.0,0.000000e+00
tt0337692,On the Road,2012,124.0,"Adventure,Drama,Romance",IFC,9.534,5.85,38519.0,2013-03-22,25000000.0,732414.0,8.656651e+06
tt0359950,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",Fox,17.639,7.20,281064.0,2013-12-25,90500000.0,58218419.0,1.588806e+08
tt0365907,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",Uni.,29.778,6.40,107152.0,2014-09-19,28000000.0,26158842.5,4.450429e+07
tt0369610,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",Uni.,81.881,6.80,555491.0,2015-06-12,182500000.0,652285312.5,1.334127e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
tt7958736,Ma,2019,99.0,"Horror,Thriller",Uni.,24.063,5.90,6544.0,NaT,5000000.0,71600000.0,7.480000e+07
tt7959026,The Mule,2018,116.0,"Crime,Drama,Thriller",WB,20.976,6.90,62102.0,2018-12-14,50000000.0,103802203.5,1.197788e+08
tt8097306,Nobodys Fool,2018,110.0,"Comedy,Drama,Romance",Par.,13.781,5.40,3821.0,2018-11-02,19000000.0,31706555.0,1.719475e+07
tt8108198,Andhadhun,2018,139.0,"Crime,Thriller",Eros,NaN,8.50,43409.0,NaT,NaN,1200000.0,0.000000e+00
tt8427036,Helicopter Eela,2018,135.0,Drama,Eros,NaN,5.40,673.0,NaT,NaN,72000.0,0.000000e+00